<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>
    <div class="Main-DIV">
        <div class="msg-404">404 <p class="msg-err">{{message}}</p>
        </div>
        <p class="msg-err">Press 
            <a href="/" class="msg-err-lnk">here</a>
            to enter our home page
        </p>
        
    </div>
</body>

</html>