<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <div class="Main-DIV">
        <div class="msg-404">404 <p class="msg-err">{{message}}</p>
        </div>
        <p class="msg-err">Press
            <a href="/" class="msg-err-lnk">here</a>
            to enter our home page
        </p>

    </div>
</body>

</html>