<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</html>
<body>
    {{>header}}
    <h1>What is the App?</h1>
    <p>Our application is a place where coachs and trainees could connect to each other online , 
    clients connect and pick a coach and then the coach could provide them with their training schedule</p>
    <h1>Why use our App?</h1>
    <p>Our application is a place where coachs and trainees could connect to each other online , 
    clients connect and pick a coach and then the coach could provide them with their training schedule.</p>

</body>