<!DOCTYPE html>
<html>

<head>
    <title>About us</title>
    <link rel="stylesheet" href="./css/about.css">
    {{>links}}
</head>


<body>
    {{>header}}
    <div class="master-DIV">
        <div class="about-containing-DIV">
            <div class="about-icons-DIV">
                <img class="about-icon" src="/images/icon1.png" />
                <img class="about-icon" src="/images/icon2.png" />
                <img class="about-icon" src="/images/icon3.png" />
                <img class="about-icon" src="/images/icon4.png" />
            </div>
            <div class="about-containing-Inner-DIV">
                <div class="title-DIV">
                    <div class="title-text">About us</div>
                </div>
                <div class="bar-DIV">
                    <div class="bar-items-DIV">
                        <div id="btn1" class="bar-items-text">What is the App?</div>
                        <div id="brdr1" class="border-full-opacity"></div>
                    </div>
                    <div class="bar-items-DIV">
                        <div id="btn2" class="bar-items-text ">Why use our App?</div>
                        <div id="brdr2" class="border-half-opacity"></div>
                    </div>
                    <div class="bar-items-DIV">
                        <div id="btn3" class="bar-items-text ">Founders</div>
                        <div id="brdr3" class="border-half-opacity"></div>
                    </div>
                </div>
                <div class="about-outer-text-DIV">
                    <div id="text-DIV-left" class="about-text-DIV-left">
                        <p class="about-text-p">Our application is a place where coachs and trainees could connect to
                            each other online ,
                            clients connect and pick a coach and then the coach could provide them with their training
                            schedule Our application is a place where coachs and trainees could connect to
                            each other online ,
                            clients connect and pick a coach and then the coach could provide them with their training
                            schedule
                        </p>
                    </div>
                    <div id="text-DIV-center" class="about-text-DIV-center">
                        <p class="about-text-p">
                            Our application is a place where coachs and trainees could connect to each other online ,
                            clients connect and pick a coach and then the coach could provide them with their training
                            schedule.
                        </p>
                    </div>
                    <div id="text-DIV-right" class="about-text-DIV-right">
                        <p class="about-text-p">
                            Kratos Sabbagh
                            <br/>
                            Kratos Halabi
                        </p>
                    </div>
                    <img class="img-slider" src="/images/giphy-preview.gif"/>
                </div>
            </div>
            <div class="about-icons-DIV">
                <img class="about-icon" src="/images/icon3.png" />
                <img class="about-icon" src="/images/icon4.png" />
                <img class="about-icon" src="/images/icon1.png" />
                <img class="about-icon" src="/images/icon2.png" />
            </div>
        </div>
    </div>
    <script src="/js/about.js"></script>
</body>

</html>





{{!-- <h1 class="about-text-title">What is the App?</h1>
    <p class="about-text-p">Our application is a place where coachs and trainees could connect to each other online , 
    clients connect and pick a coach and then the coach could provide them with their training schedule</p>
    <h1 class="about-text-title">Why use our App?</h1>
    <p class="about-text-p">Our application is a place where coachs and trainees could connect to each other online , 
    clients connect and pick a coach and then the coach could provide them with their training schedule.</p> --}}