<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/adminLogin.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <input id="adminUsername" type="text" name="username" placeholder="Username" required>
                <input id="adminPass" type="password" name="password" placeholder="Password" required>
                <button id="loginBTN">Login</button>
            </div>

        </div>
    </div>
    <script src="/js/adminLogin.js"></script>
</body>

</html>