<!DOCTYPE html>
<html>

<head>
    <title>Client help</title>
    <link rel="stylesheet" href="./css/help.css">
    {{>links}}
</head>

<body>
    <div class="Masking-DIV">
        <div class="Masking-DIV-2">
            {{>header}}
            <div class="H-main-DIV">
                <div class="H-arrow-icon-div">
                    <i id="left-arrow-btn" class="H-arrow-icon fas fa-angle-left"> </i>
                </div>
                <div id="H-help-container-1" class="H-client-container-DIV disp-flex">
                    <div class="H-card-title">How To Connect?</div>
                    <div class="H-client-container-inner">
                        <div class="H-card-text">If you are a new client: </div>
                        <div class="H-card-steps">1. Press the sign up button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/help-pic-sign-up-all.png" />
                        </div>
                        <div class="H-card-steps">2. And then press the client sign up button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/help-pic-sign-up-client.png" />
                        </div>
                        <div class="H-card-steps">3. Fill your info , then press the register button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/client-sign-up-press-register.png" />
                        </div>
                        <div class="H-card-text">Otherwise, if you are a registered client:</div>
                        <div class="H-card-steps">1. Press the log in button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/help-pic-log-in-all.png" />
                        </div>
                        <div class="H-card-steps">2. Press the log in as client button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/log-in-help-pic-client.png" />
                        </div>
                        <div class="H-card-steps">3. Fill your info , then press the login button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/log-page.png" />
                        </div>
                    </div>
                </div>
                <div id="H-help-container-2" class="H-client-container-DIV disp-none">
                    <div class="H-card-title">Your Training Schedule</div>
                    <div class="H-client-container-inner">
                        <div class="H-card-text">Here you can see your Schedule for the week</div>
                        <div class="H-card-steps">1. Here you can see your training exercises:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/client-schedule-training.png" />
                        </div>
                        <div class="H-card-steps">2. And here you can see your Nutrition and your coach tips:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/client-schedule-Nutrition-msgs.png" />
                        </div>
                        <div class="H-card-steps">3. Pressing this button would take you to your profile page:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/client-schedule-Profile-btn.png" />
                        </div>
                        <div class="H-card-steps">4. Pressing this button would log you out of your account:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/client-schedule-logout-btn.png" />
                        </div>
                    </div>
                </div>
                <div id="H-help-container-3" class="H-client-container-DIV disp-none">
                    <div class="H-card-title">The Profile Page</div>
                    <div class="H-client-container-inner">
                        <div class="H-card-text">Here is your profile page</div>
                        <div class="H-card-steps">1. These are your information:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/client-profile-infos.png" />
                        </div>
                        <div class="H-card-steps">2. Pressing this button allows you to change your password:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/client-profile-changepass-btn.png" />
                        </div>
                        <div class="H-card-steps">3. Pressing this button allows you to delete your account:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/client-profile-delete-btn.png" />
                        </div>
                        <div class="H-card-steps">4. Pressing this button allows you to go back to your training
                            schedule:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/client-profile-training-Schedule-btn.png" />
                        </div>
                        <div class="H-card-steps">5. Pressing this button logs you out of your account:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/client-profile-logout-btn.png" />
                        </div>
                    </div>
                </div>
                <div class="H-arrow-icon-div">
                    <i id="right-arrow-btn" class="H-arrow-icon fas fa-angle-right"> </i>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/help.js"></script>
</body>

</html>