<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="icon-div-logo">
            <i class="fas fa-dumbbell dumbbell-icon-cus"></i>
            <p class="logo-title">Krepto Gym</p>
        </div>
        <div class="links-DIV">
            <a class="links" href="/coachsPick">Coachs</a>
            <a class="links" href="/clientSchedule">Training Schedule</a>
            <a class="links" href="/coachHome">Nutritions</a>
        </div>
        <div class="log-buttons-div">
            <a class="sign-log-btn" href="/userProfile">Profile</a>
            <a class="sign-log-btn" href="/">Log out</a>
        </div>
    </header>
</body>
</html>