<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/coachScheduleUpdate.css">
    <link rel="stylesheet" href="./css/clientSchedule.css">
    {{>links}}
</head>

<body>
    <div class="Masking-DIV">
        <header>
            <div class="icon-div-logo">
                <img class="header-logo-icon-img" src="/images/header-logo-icon.png" />
                <p class="logo-title">Krepto Gym</p>
            </div>
            <div class="links-DIV">
            </div>
            <div class="log-buttons-div">
                <a class="sign-log-btn-DIV" href="/clientProfile">Profile</a>
                <div class="dividing-slash">|</div>
                <a id="logout" class="sign-log-btn-DIV">Log out</a>
            </div>
        </header>
        <div class="CSU-main-DIV">
            <div class="CSU-Container-DIV">
                <div class="CS-Schedule-DIV">
                    <div class="CSU-Days-DIV">
                        <div class="CSU-Day-DIV">
                            <div id="sun" class="CSU-Day-Num">1</div>
                            <div class="CSU-Day-Name">Sunday</div>
                        </div>
                        <div class="CSU-Day-DIV CSU-Border-left">
                            <div id="mon" class="CSU-Day-Num">2</div>
                            <div class="CSU-Day-Name">Monday</div>
                        </div>
                        <div class="CSU-Day-DIV CSU-Border-left">
                            <div id="tue" class="CSU-Day-Num">3</div>
                            <div class="CSU-Day-Name">Tuesday</div>
                        </div>
                        <div class="CSU-Day-DIV CSU-Border-left">
                            <div id="wed" class="CSU-Day-Num">4</div>
                            <div class="CSU-Day-Name">Wednesday</div>
                        </div>
                        <div class="CSU-Day-DIV CSU-Border-left">
                            <div id="thu" class="CSU-Day-Num">5</div>
                            <div class="CSU-Day-Name">Thursday</div>
                        </div>
                        <div class="CSU-Day-DIV CSU-Border-left">
                            <div id="fri" class="CSU-Day-Num">6</div>
                            <div class="CSU-Day-Name">Friday</div>
                        </div>
                        <div class="CSU-Day-DIV CSU-Border-left">
                            <div id="sat" class="CSU-Day-Num">7</div>
                            <div class="CSU-Day-Name">Saturday</div>
                        </div>
                    </div>
                    <div class="CSU-Training-Schedule-DIV">
                        <div class="CSU-Training-Schedule-Day">
                            <div class="CSU-Daily-Training-Title">Exercise</div>
                            <textarea id="sunday" class="CS-Daily-Training-Text" style="resize: none;"
                                readonly></textarea>
                        </div>
                        <div class="CSU-Training-Schedule-Day CSU-Border-left">
                            <div class="CSU-Daily-Training-Title">Exercise</div>
                            <textarea id="monday" class="CS-Daily-Training-Text" style="resize: none;"
                                readonly></textarea>
                        </div>
                        <div class="CSU-Training-Schedule-Day CSU-Border-left">
                            <div class="CSU-Daily-Training-Title">Exercise</div>
                            <textarea id="tuesday" class="CS-Daily-Training-Text" style="resize: none;"
                                readonly></textarea>
                        </div>
                        <div class="CSU-Training-Schedule-Day CSU-Border-left">
                            <div class="CSU-Daily-Training-Title">Exercise</div>
                            <textarea id="wednesday" class="CS-Daily-Training-Text" style="resize: none;"
                                readonly></textarea>
                        </div>
                        <div class="CSU-Training-Schedule-Day CSU-Border-left">
                            <div class="CSU-Daily-Training-Title">Exercise</div>
                            <textarea id="thursday" class="CS-Daily-Training-Text" style="resize: none;"
                                readonly></textarea>
                        </div>
                        <div class="CSU-Training-Schedule-Day CSU-Border-left">
                            <div class="CSU-Daily-Training-Title">Exercise</div>
                            <textarea id="friday" class="CS-Daily-Training-Text" style="resize: none;"
                                readonly></textarea>
                        </div>
                        <div class="CSU-Training-Schedule-Day CSU-Border-left">
                            <div class="CSU-Daily-Training-Title">Exercise</div>
                            <textarea id="saturday" class="CS-Daily-Training-Text" style="resize: none;"
                                readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="CS-Nutritions-msg-DIV">
                    <div class="CSU-Nutritions-outer-DIV">
                        <div class="CSU-Daily-Training-Title">Nutritions</div>
                        <div class="CS-Nutritions-DIV">
                            <div class="CSU-row">
                                <div class="CSU-Nutrition-item">
                                    <div class="CSU-Nutrition-item-title">Proteins:</div>
                                    <div id="protine" class="CS-Nutrition-item-value">0</div>
                                    <div class="CSU-Nutrition-item-title CSU-margin-left">g</div>
                                </div>
                                <div class="CSU-Nutrition-item">
                                    <div class="CSU-Nutrition-item-title">Fats:</div>
                                    <div id="fats" class="CS-Nutrition-item-value">0</div>
                                    <div class="CSU-Nutrition-item-title CSU-margin-left">g</div>
                                </div>
                                <div class="CSU-Nutrition-item">
                                    <div class="CSU-Nutrition-item-title">Carbohydrates:</div>
                                    <div id="carbs" class="CS-Nutrition-item-value">0</div>
                                    <div class="CSU-Nutrition-item-title CSU-margin-left">g</div>
                                </div>
                            </div>
                            <div class="CSU-row">
                                <div class="CS-cal-item">
                                    <div class="CS-cal-title">Calories:</div>
                                    <div id="calories" class="CS-Nutrition-item-value">0</div>
                                    <div class="CSU-Nutrition-item-title CSU-margin-left">g</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="CSU-Msg-outer-DIV">
                        <div class="CSU-Daily-Training-Title">Messages</div>
                        <div class="CS-msg-DIV">
                            <textarea id="notes" class="CS-Msg-Text" style="resize: none;" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/clientSchedule.js"></script>
</body>

</html>