<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/clientProfile.css">
    {{>links}}
</head>

<body>
    <header>
        <div class="icon-div-logo">
            <i class="fas fa-dumbbell dumbbell-icon-cus"></i>
            <p class="logo-title">Krepto Gym</p>
        </div>
        <div class="links-DIV">
            <a class="links" href="/clientSchedule">Training Schedule</a>
        </div>
        <div class="logout-btn-div">
            <a class="sign-log-btn-DIV" href="/">Log out</a>
        </div>
    </header>
    <div class="ClientP-Main-DIV">
        <div class="ClientP-Container-DIV">
            <div class="ClientP-title-DIV">Profile</div>
            <div class="ClientP-info-DIV">
                <div class="ClientP-item-DIV">
                    <div>Name:</div>
                </div>
                <div class="ClientP-item-DIV">
                    <div>Age:</div>
                </div>
                <div class="ClientP-item-DIV">
                    <div>Height:</div>
                </div>
                <div class="ClientP-item-DIV">
                    <div>Weight:</div>
                </div>
            </div>
            <div class="ClientP-Del-btn-DIV">
                <i class="fas fa-edit ClientP-Del-icon"></i>
                <p class="ClientP-Delmsg">Change Password</p>
            </div>
            <div class="ClientP-Del-btn-DIV ClientP-border-bottom-right-left-r">
                <i class="fas fa-trash-alt ClientP-Del-icon"></i>
                <p class="ClientP-Delmsg">Click Here To Delete Account</p>
            </div>
        </div>
    </div>
</body>

</html>