<!DOCTYPE html>
<html>

<head>
    <title>KryptoGym</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="/css/clientSchedule.css">
    <link rel="stylesheet" href="/css/clientNavbarSidebar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="clientSchedule-body">
    {{>clientNavbarSidebar}}
    <div class="clientSchedule-mainWindow">
        <div class="clientSchedule-innerWindow">
            <div class="clientSchedule-training-Schedule-div">
                <div class="clientSchedule-training-Schedule-inner-div">
                    <i id="schedule-left-btn"
                        class="clientSchedule-training-Schedule-day-change-btn-left fas fa-chevron-left"></i>
                    <i id="schedule-right-btn"
                        class="clientSchedule-training-Schedule-day-change-btn-right fas fa-chevron-right"></i>
                    <div id="day-sunday" class="clientSchedule-training-Schedule-day-div display-flex">
                        <div class="clientSchedule-training-Schedule-day-view-div">
                            <div class="clientSchedule-training-Schedule-day-view">Sunday</div>
                        </div>
                        <div class="clientSchedule-day-exercises-div">
                            <div class="clientSchedule-day-exercises-div-inner">
                                <div id="sunday-exercises-div" class="clientSchedule-day-exercises">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="day-monday" class="clientSchedule-training-Schedule-day-div">
                        <div class="clientSchedule-training-Schedule-day-view-div">
                            <div class="clientSchedule-training-Schedule-day-view">Monday</div>
                        </div>
                        <div class="clientSchedule-day-exercises-div">
                            <div class="clientSchedule-day-exercises-div-inner">
                                <div id="monday-exercises-div" class="clientSchedule-day-exercises">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="day-tuesday" class="clientSchedule-training-Schedule-day-div">
                        <div class="clientSchedule-training-Schedule-day-view-div">
                            <div class="clientSchedule-training-Schedule-day-view">Tuesday</div>
                        </div>
                        <div class="clientSchedule-day-exercises-div">
                            <div class="clientSchedule-day-exercises-div-inner">
                                <div id="tuesday-exercises-div" class="clientSchedule-day-exercises">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="day-wedensday" class="clientSchedule-training-Schedule-day-div">
                        <div class="clientSchedule-training-Schedule-day-view-div">
                            <div class="clientSchedule-training-Schedule-day-view">Wednesday</div>
                        </div>
                        <div class="clientSchedule-day-exercises-div">
                            <div class="clientSchedule-day-exercises-div-inner">
                                <div id="wednesday-exercises-div" class="clientSchedule-day-exercises">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="day-thursday" class="clientSchedule-training-Schedule-day-div">
                        <div class="clientSchedule-training-Schedule-day-view-div">
                            <div class="clientSchedule-training-Schedule-day-view">Thursday</div>
                        </div>
                        <div class="clientSchedule-day-exercises-div">
                            <div class="clientSchedule-day-exercises-div-inner">
                                <div id="thursday-exercises-div" class="clientSchedule-day-exercises">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="day-friday" class="clientSchedule-training-Schedule-day-div">
                        <div class="clientSchedule-training-Schedule-day-view-div">
                            <div class="clientSchedule-training-Schedule-day-view">Friday</div>
                        </div>
                        <div class="clientSchedule-day-exercises-div">
                            <div class="clientSchedule-day-exercises-div-inner">
                                <div id="friday-exercises-div" class="clientSchedule-day-exercises">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="day-saturday" class="clientSchedule-training-Schedule-day-div">
                        <div class="clientSchedule-training-Schedule-day-view-div">
                            <div class="clientSchedule-training-Schedule-day-view">Saturday</div>
                        </div>
                        <div class="clientSchedule-day-exercises-div">
                            <div class="clientSchedule-day-exercises-div-inner">
                                <div id="saturday-exercises-div" class="clientSchedule-day-exercises">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="clientSchedule-other-activites-div">
                <div class="clientSchedule-activity-card-div">
                    <div id="card2" class="clientSchedule-activity-card-inner">
                        <div class="clientSchedule-activity-card">
                            <div id="card2-title-icon-div" class="clientSchedule-activity-card-title-icon-div">
                                <div class="clientSchedule-activity-card-icon-div">
                                    <i class="clientSchedule-activity-card-icon fas fa-utensils"></i>
                                </div>
                                <div class="clientSchedule-activity-card-title-div">
                                    <div class="clientSchedule-activity-card-title">Chat</div>
                                    <div id="card2-text" class="clientSchedule-activity-card-text">Contact your coach,
                                        ask him about your training schedule and your meals!</div>
                                </div>
                            </div>
                            <img src="/images/bckgroundNum5.jpg" alt="Avatar"
                                class="clientSchedule-activity-card-photo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/clientSchedule.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>