<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/clientProfile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
</head>

<body class="clientProfile-body">
    <div class="clientProfile-mainWindow">
        <div class="clientProfile-header">
            <div class="clientProfile-header-cancel-option">
                <a class="clientProfile-cancel-option-header-inner">
                    <i class="fas fa-chevron-left" style="margin-right: 10px; height: 100%;"></i>
                    <div class="clientProfile-cancel-option-header-text">Cancel</div>
                </a>
            </div>
            <div class="clientProfile-header-filler"></div>
            <div class="clientProfile-saveChanges-btn-option">
                <a class="clientProfile-saveChanges-btn-option-inner">
                    <div class="clientProfile-saveChanges-text">
                        SAVE CHANGES
                    </div>
                    <i class="fas fa-chevron-right" style="margin-left: 10px; height: 100%;"></i>
                </a>

            </div>
        </div>
        <div class="clientProfile-innerMain">
            <div class="clientProfile-profile-pannel">
                <div class="clientProfile-profile-picture-change-outer-div">
                    <div class="clientProfile-profile-picture-change-div">
                        <div class="clientProfile-profile-picture-change-title">Profile Picture</div>
                        <div class="img__wrap">
                            <p id="edit-text" class="edit-text" data-symbol="&#xf206;">Edit</p>
                            <i class="edit-icon fas fa-edit"></i>
                            <img id="profile-img" class="img-uplaoder"
                                src="/images/png-transparent-user-profile-computer-icons-login-user-avatars.png" />
                            <input id="img-upload" class="img__input" type="file" accept="image/*" />
                        </div>
                    </div>
                </div>
                <div class="clientProfile-severing-border"></div>
                <div class="clientProfile-user-info-outer-div">
                    <div class="clientProfile-user-info-div">
                        <div class="clientProfile-user-info-title">Profile Info</div>
                        <div class="clientProfile-user-info-inner-div">
                            <div class="clientProfile-user-info-items-div">
                                <div class="clientProfile-user-info-item">
                                    <div class="clientProfile-user-info-item-title">Email</div>
                                    <div class="clientProfile-user-info-item-text">wisamwrh@gmail.com</div>
                                </div>
                                <div class="clientProfile-user-info-item">
                                    <div class="clientProfile-user-info-item-title">Full Name</div>
                                    <div id="name" class="clientProfile-user-info-item-text">Wisam Halabi</div>
                                    <div id="name-save-btn" class="clientProfile-user-info-item-save-btn">
                                        <div class="clientProfile-user-info-item-save-btn-text">Save</div>
                                    </div>
                                    <i id="name-edit" class="clientProfile-user-info-item-icon fas fa-edit"></i>
                                </div>
                                <div class="clientProfile-user-info-item">
                                    <div class="clientProfile-user-info-item-title">Password</div>
                                    <div class="clientProfile-user-info-item-text">************</div>
                                    <i id="password-edit" class="clientProfile-user-info-item-icon fas fa-edit"></i>
                                </div>
                                <div class="clientProfile-user-info-item">
                                    <div class="clientProfile-user-info-item-title">Gender</div>
                                    <div id="gender" class="clientProfile-user-info-item-text">Male</div>
                                    <div id="gender-save-btn" class="clientProfile-user-info-item-save-btn">
                                        <div class="clientProfile-user-info-item-save-btn-text">Save</div>
                                    </div>
                                    <i id="gender-edit" class="clientProfile-user-info-item-icon fas fa-edit"></i>
                                </div>
                                <div class="clientProfile-user-info-item">
                                    <div class="clientProfile-user-info-item-title">Birthdate</div>
                                    <div id="birthdate" class="clientProfile-user-info-item-text">1993-09-29</div>
                                    <div id="birthdate-save-btn" class="clientProfile-user-info-item-save-btn">
                                        <div class="clientProfile-user-info-item-save-btn-text">Save</div>
                                    </div>
                                    <i id="birthdate-edit" class="clientProfile-user-info-item-icon fas fa-edit"></i>
                                </div>
                                <div class="clientProfile-user-info-item">
                                    <div class="clientProfile-user-info-item-title">Country</div>
                                    <div id="country" class="clientProfile-user-info-item-text">Israel</div>
                                    <div id="country-save-btn" class="clientProfile-user-info-item-save-btn">
                                        <div class="clientProfile-user-info-item-save-btn-text">Save</div>
                                    </div>
                                    <i id="country-edit" class="clientProfile-user-info-item-icon fas fa-edit"></i>
                                </div>
                                <div class="clientProfile-user-info-item">
                                    <div class="clientProfile-user-info-item-title">Height</div>
                                    <div id="height" class="clientProfile-user-info-item-text">189 Cm</div>
                                    <div id="height-save-btn" class="clientProfile-user-info-item-save-btn">
                                        <div class="clientProfile-user-info-item-save-btn-text">Save</div>
                                    </div>
                                    <i id="height-edit" class="clientProfile-user-info-item-icon fas fa-edit"></i>
                                </div>
                                <div class="clientProfile-user-info-item-no-border">
                                    <div class="clientProfile-user-info-item-title">Weight</div>
                                    <div id="weight" class="clientProfile-user-info-item-text">120 Kg</div>
                                    <div id="weight-save-btn" class="clientProfile-user-info-item-save-btn">
                                        <div class="clientProfile-user-info-item-save-btn-text">Save</div>
                                    </div>
                                    <i id="weight-edit" class="clientProfile-user-info-item-icon fas fa-edit"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cd-changepass-popup" class="clientProfile-changepass-popup" role="alert">
            <div class="clientProfile-changepass-popup-container">
                <div class="clientProfile-changepass-fields">
                    <div class="clientProfile-changepass-field-item">
                        <div class="clientProfile-changepass-InputLabeldiv">
                            <span class="clientProfile-changepass-label-input100">Current Password</span>
                        </div>
                        <div class="clientProfile-changepass-Inputandicondiv">
                            <div class="clientProfile-changepass-Icondiv">
                                <i class="clientProfile-changepass-Icon fas fa-lock"></i>
                            </div>
                            <div class="clientProfile-changepass-Inputdiv">
                                <input class="clientProfile-changepass-input100" type="password" id="old-password"
                                    placeholder="Type your current password" />
                            </div>
                        </div>
                        <p id="passwordREQ" style="color: red; opacity: 1; margin: 0;"></p>
                    </div>
                    <div class="clientProfile-changepass-field-item">
                        <div class="clientProfile-changepass-InputLabeldiv">
                            <span class="clientProfile-changepass-label-input100">new Password</span>
                        </div>
                        <div class="clientProfile-changepass-Inputandicondiv">
                            <div class="clientProfile-changepass-Icondiv">
                                <i class="clientProfile-changepass-Icon fas fa-lock"></i>
                            </div>
                            <div class="clientProfile-changepass-Inputdiv">
                                <input class="clientProfile-changepass-input100" type="password" id="new-password"
                                    placeholder="Type your new password" />
                            </div>
                        </div>
                        <p id="newPasswordREQ" style="color: red; opacity: 1; margin: 0;"></p>
                    </div>
                    <div class="clientProfile-changepass-field-item">
                        <div class="clientProfile-changepass-InputLabeldiv">
                            <span class="clientProfile-changepass-label-input100">Confirm New Password</span>
                        </div>
                        <div class="clientProfile-changepass-Inputandicondiv">
                            <div class="clientProfile-changepass-Icondiv">
                                <i class="clientProfile-changepass-Icon fas fa-lock"></i>
                            </div>
                            <div class="clientProfile-changepass-Inputdiv">
                                <input class="clientProfile-changepass-input100" type="password" id="confirm-new-password"
                                    placeholder="Type your new password again" />
                            </div>
                        </div>
                    </div>
                    <p id="successfullyREQ"
                        style="color: rgb(21, 219, 21); opacity: 0; margin: 2; font-weight: 900; font-family: Poppins-Regular;">
                        Password successfully changed</p>
                </div>
                <div class="clientProfile-changepass-popup-buttons">
                    <button id="popupConfirmBTN" class="clientProfile-changepass-popup-confirm-button">Confirm</button>
                </div>
                <button id="cd-changepass-popup-close" class="clientProfile-changepass-popup-close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <script src="/js/clientProfile.js"></script>
</body>

</html>