<!DOCTYPE html>
<html>

<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/register.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="icon-div-logo">
            <i class="fas fa-dumbbell dumbbell-icon-cus"></i>
            <p class="logo-title">Krepto Gym</p>
        </div>
        <div class="links-DIV">
            <a class="links" href="/">Home</a>
            <a class="links" href="/about">About</a>
            <a class="links" href="/help">Help</a>
        </div>
    </header>
    <div class="login-page-DIV">
        <div class="R-Containingdiv">
            <div class="R-column">
                <h1 class="welcome-title">Register</h1>
                <div class="R-row">
                    <div class="R-div1">
                        <div class="R-form-div">
                            <div class="R-column">
                                <div class="R-row">
                                    <div class="wrap-input-register100">
                                        <div class="L-InputLabeldiv">
                                            <span class="label-input100">Full Name</span>
                                        </div>
                                        <div class="L-Inputandicondiv">
                                            <div class="L-Icondiv">
                                                <i class="L-Icon fas fa-user-tie"></i>
                                            </div>
                                            <div class="L-Inputdiv">
                                                <input class="input100" type="text" name="firstName"
                                                    placeholder="Type your Full Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-input-register100">
                                        <div class="L-InputLabeldiv">
                                            <span class="label-input100">Email</span>
                                        </div>
                                        <div class="L-Inputandicondiv">
                                            <div class="L-Icondiv">
                                                <i class="L-Icon fas fa-envelope"></i>
                                            </div>
                                            <div class="L-Inputdiv">
                                                <input class="input100" type="text" name="Email"
                                                    placeholder="Type your Email" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="R-row">
                                    <div class="wrap-input-register100">
                                        <div class="L-InputLabeldiv">
                                            <span class="label-input100">Password</span>
                                        </div>
                                        <div class="L-Inputandicondiv">
                                            <div class="L-Icondiv">
                                                <i class="L-Icon fas fa-lock"></i>
                                            </div>
                                            <div class="L-Inputdiv">
                                                <input class="input100" type="password" name="Password"
                                                    placeholder="Type your Password" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-input-register100">
                                        <div class="L-InputLabeldiv">
                                            <span class="label-input100">ConfirmPassword</span>
                                        </div>
                                        <div class="L-Inputandicondiv">
                                            <div class="L-Icondiv">
                                                <i class="L-Icon fas fa-lock"></i>
                                            </div>
                                            <div class="L-Inputdiv">
                                                <input class="input100" type="password" name="ConfirmPassword"
                                                    placeholder="Type your Password Again" />
                                            </div>
                                        </div>
                                    </div>
                                    <PasswordStrengthMeter pswd={this.state.Password} />
                                </div>
                                <div class="R-row">
                                    <div class="wrap-input-register100">
                                        <div class="L-InputLabeldiv">
                                            <span class="label-input100">Age</span>
                                        </div>
                                        <div class="L-Inputandicondiv">
                                            <div class="L-Icondiv">
                                                <i class="L-Icon fas fa-lock"></i>
                                            </div>
                                            <div class="L-Inputdiv">
                                                <input class="input100" type="number" name="Age"
                                                    placeholder="Type your Age" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-input-register100">
                                        <div class="L-InputLabeldiv">
                                            <span class="label-input100">Height</span>
                                        </div>
                                        <div class="L-Inputandicondiv">
                                            <div class="L-Icondiv">
                                                <i class="L-Icon fas fa-lock"></i>
                                            </div>
                                            <div class="L-Inputdiv">
                                                <input class="input100" type="number" name="Height"
                                                    placeholder="Type your Height" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="R-row">
                                    <div class="wrap-input-register100">
                                        <div class="L-InputLabeldiv">
                                            <span class="label-input100">Weight</span>
                                        </div>
                                        <div class="L-Inputandicondiv">
                                            <div class="L-Icondiv">
                                                <i class=" L-Icon fas fa-weight-hanging"></i>
                                            </div>
                                            <div class="L-Inputdiv">
                                                <input class="input100" type="number" name="Weight"
                                                    placeholder="Type your Weight" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-input-register100">
                                        <div class="L-InputLabeldiv">
                                            <span class="label-input100">Select Coach:</span>
                                        </div>
                                        <select name="cars" id="coachs" class="coachSelect">
                                            <option value="coach" selected="selected" hidden='true'>Select a coach</option>
                                       
                                        </select>
                                    </div>
                                    <PasswordStrengthMeter pswd={this.state.Password} />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="R-div2">
                        <div class="img__wrap">
                            <i class="fas fa-dumbbell img-uplaoder"></i>
                        </div>
                    </div>
                </div>
                <div class="btn-div">
                    <div class="R-button-container">
                        <button class="R-button R-abtn R-button-left">
                            Register
                        </button>
                    </div>
                    <div class="R-button-container">
                        <button onclick="location.href='/';" class="R-button R-abtn R-button-right">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/clientRegister.js"></script>
</body>

</html>