<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/clientSchedule.css">
    {{>links}}
</head>

<body>
    <header>
        <div class="icon-div-logo">
            <i class="fas fa-dumbbell dumbbell-icon-cus"></i>
            <p class="logo-title">Krepto Gym</p>
        </div>
        <div class="links-DIV">
            <a class="links" href="/clientSchedule">Training Schedule</a>
        </div>
        <div class="log-buttons-div">
            <a class="sign-log-btn-DIV" href="/userProfile">Profile</a>
            <a class="sign-log-btn-DIV" href="/">Log out</a>
        </div>
    </header>
    <div class="CS-main-DIV">
        <div class="CS-Container-DIV">
            <div class="CS-Schedule-DIV">
                <div class="CS-Days-DIV">
                    <div class="CS-Day-DIV">
                        <div class="CS-Day-Num">1</div>
                        <div class="CS-Day-Name">Sunday</div>
                    </div>
                    <div class="CS-Day-DIV CS-Border-left">
                        <div class="CS-Day-Num">2</div>
                        <div class="CS-Day-Name">Monday</div>
                    </div>
                    <div class="CS-Day-DIV CS-Border-left">
                        <div class="CS-Day-Num">3</div>
                        <div class="CS-Day-Name">Tuesday</div>
                    </div>
                    <div class="CS-Day-DIV CS-Border-left">
                        <div class="CS-Day-Num">4</div>
                        <div class="CS-Day-Name">Wednesday</div>
                    </div>
                    <div class="CS-Day-DIV CS-Border-left">
                        <div class="CS-Day-Num">5</div>
                        <div class="CS-Day-Name">Thursday</div>
                    </div>
                    <div class="CS-Day-DIV CS-Border-left">
                        <div class="CS-Day-Num">6</div>
                        <div class="CS-Day-Name">Friday</div>
                    </div>
                    <div class="CS-Day-DIV CS-Border-left">
                        <div class="CS-Day-Num">7</div>
                        <div class="CS-Day-Name">Saturday</div>
                    </div>
                </div>
                <div class="CS-Training-Schedule-DIV">
                    <div class="CS-Training-Schedule-Day"></div>
                    <div class="CS-Training-Schedule-Day CS-Border-left"></div>
                    <div class="CS-Training-Schedule-Day CS-Border-left"></div>
                    <div class="CS-Training-Schedule-Day CS-Border-left"></div>
                    <div class="CS-Training-Schedule-Day CS-Border-left"></div>
                    <div class="CS-Training-Schedule-Day CS-Border-left"></div>
                    <div class="CS-Training-Schedule-Day CS-Border-left"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>