<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/coachScheduleUpdate.css">
    <link rel="stylesheet" href="./css/clientSchedule.css">
    {{>links}}
</head>

<body>
    <header>
        <div class="icon-div-logo">
            <i class="fas fa-dumbbell dumbbell-icon-cus"></i>
            <p class="logo-title">Krepto Gym</p>
        </div>
        <div class="links-DIV">
        </div>
        <div class="log-buttons-div">
            <a class="sign-log-btn-DIV" href="/userProfile">Profile</a>
            <a class="sign-log-btn-DIV" href="/">Log out</a>
        </div>
    </header>
    <div class="CSU-main-DIV">
        <div class="CSU-Container-DIV">
            <div class="CS-Schedule-DIV">
                <div class="CSU-Days-DIV">
                    <div class="CSU-Day-DIV">
                        <div class="CSU-Day-Num">1</div>
                        <div class="CSU-Day-Name">Sunday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div class="CSU-Day-Num">2</div>
                        <div class="CSU-Day-Name">Monday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div class="CSU-Day-Num">3</div>
                        <div class="CSU-Day-Name">Tuesday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div class="CSU-Day-Num">4</div>
                        <div class="CSU-Day-Name">Wednesday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div class="CSU-Day-Num">5</div>
                        <div class="CSU-Day-Name">Thursday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div class="CSU-Day-Num">6</div>
                        <div class="CSU-Day-Name">Friday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div class="CSU-Day-Num">7</div>
                        <div class="CSU-Day-Name">Saturday</div>
                    </div>
                </div>
                <div class="CSU-Training-Schedule-DIV">
                    <div class="CSU-Training-Schedule-Day">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <div class="CS-Daily-Training-Text"></div>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <div class="CS-Daily-Training-Text"></div>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <div class="CS-Daily-Training-Text"></div>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <div class="CS-Daily-Training-Text"></div>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <div class="CS-Daily-Training-Text"></div>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <div class="CS-Daily-Training-Text"></div>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <div class="CS-Daily-Training-Text"></div>
                    </div>
                </div>
            </div>
            <div class="CS-Nutritions-msg-DIV">
                <div class="CSU-Nutritions-outer-DIV">
                    <div class="CSU-Daily-Training-Title">Nutritions</div>
                    <div class="CS-Nutritions-DIV">
                        <div class="CSU-row">
                            <div class="CSU-Nutrition-item">
                                <div class="CSU-Nutrition-item-title">Proteins:</div>
                                <div class="CS-Nutrition-item-value">0</div>
                                <div class="CSU-Nutrition-item-title CSU-margin-left">g</div>
                            </div>
                            <div class="CSU-Nutrition-item">
                                <div class="CSU-Nutrition-item-title">Fats:</div>
                                <div class="CS-Nutrition-item-value">0</div>
                                <div class="CSU-Nutrition-item-title CSU-margin-left">g</div>
                            </div>
                            <div class="CSU-Nutrition-item">
                                <div class="CSU-Nutrition-item-title">Carbohydrates:</div>
                                <div class="CS-Nutrition-item-value">0</div>
                                <div class="CSU-Nutrition-item-title CSU-margin-left">g</div>
                            </div>
                        </div>
                        <div class="CSU-row">
                            <div class="CS-cal-item">
                                <div class="CS-cal-title">Calories:</div>
                                <div class="CS-Nutrition-item-value">0</div>
                                <div class="CSU-Nutrition-item-title CSU-margin-left">g</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="CSU-Msg-outer-DIV">
                    <div class="CSU-Daily-Training-Title">Messages</div>
                    <div class="CS-msg-DIV">
                        <div class="CS-Msg-Text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>