<!DOCTYPE html>
<html>

<head>
    <title>KryptoGym</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="/css/coachAfterSignUp.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="CASU-mainwindow">
        <div class="CASU-message-box">
            <div class="CASU-message-title">Thank you for registering!</div>
            <div class="CASU-message-text">Your request to enter our staff as a coach has been sent to the devs .</br> after they review it you will recieve a mail with your new password!</div>
            <button id="back-home-btn" class="CASU-back-home-btn">Home ></button>
        </div>
    </div>
    <script>
        $('#back-home-btn').click(() => {
            window.location.href = '/';
        })
    </script>
</body>

</html>