<!DOCTYPE html>
<html>

<head>
    <title>KryptoGym</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="/css/coachRegisterV2.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="CoachRV2-Main">
        <div class="CoachRV2-register-outer-div">
            <div class="CoachRV2-register-box">
                <div class="CoachRV2-title">Lets set you UP!</div>
                <div class="CoachRV2-inputs-div">
                    <div class="CoachRV2-new-password-setup-div">
                        <div class="CoachRV2-input-box">
                            <div class="CoachRV2-input-icon-div">
                                <div class="CoachRV2-icon-div">
                                    <i class="CoachRV2-icon fas fa-user-tie"></i>
                                </div>
                                <div class="CoachRV2-input-div">
                                    <input id="Name" class="CoachRV2-input" type="text" placeholder="Enter your name"/>
                                </div>
                            </div>
                        </div>
                        <div class="CoachRV2-input-box" style="margin-top: 5px;">
                            <div class="CoachRV2-input-icon-div">
                                <div class="CoachRV2-icon-div">
                                    <i class="CoachRV2-icon fas fa-lock"></i>
                                </div>
                                <div class="CoachRV2-input-div">
                                    <input id="password" class="CoachRV2-input" type="password"
                                        placeholder="Enter your password" />
                                </div>
                            </div>
                        </div>
                        <div class="CoachRV2-input-box" style="margin-top: 5px;">
                            <div class="CoachRV2-input-icon-div">
                                <div class="CoachRV2-icon-div">
                                    <i class="CoachRV2-icon fas fa-lock"></i>
                                </div>
                                <div class="CoachRV2-input-div">
                                    <input id="passwordconfirm" class="CoachRV2-input" type="password"
                                        placeholder="Confirm your password" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="CoachRV2-message-to-clients-div">
                        <div class="CoachRV2-message-box">
                            <div class="CoachRV2-textarea-and-icon-div">
                                <div class="CoachRV2-T-icon-div">
                                    <i class="CoachRV2-icon fas fa-file-alt"></i>
                                </div>
                                <div class="CoachRV2-textarea-div">
                                    <textarea id="aboutMe" class="CoachRV2-textarea" type="text"
                                        placeholder="Tell your clients about you." ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="CoachRV2-dividing-slash"></div>
                    <div class="CoachRV2-profile-picture-change-div">
                        <div class="CoachRV2-upload-profile-img-div">
                            <p id="edit-text" class="CoachRV2-edit-img-text" data-symbol="&#xf206;">Edit</p>
                            <i class="CoachRV2-edit-img-icon fas fa-edit"></i>
                            <img id="profile-img" class="CoachRV2-img-presentation"
                                src="/images/png-transparent-user-profile-computer-icons-login-user-avatars.png" />
                            <input id="img-upload" class="CoachRV2-img-input" type="file" accept="image/*" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="CoachRV2-footer">
            <div class="CoachRV2-register-btn" id="regBTN">
                <i class="CoachRV2-register-btn-icon fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
    <script src="/js/coachRegisterV2.js"></script>
</body>

</html>