<!DOCTYPE html>
<html>

<head>
    <title>KryptoGym</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="/css/coachRegister.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="CR-Main">
        <div class="CR-header">
            <div class="CR-cancel-option-header">
                <a href="/" class="CR-cancel-option-header-inner">
                    <i class="fas fa-chevron-left" style="margin-right: 10px; height: 100%;"></i>
                    <div class="CR-cancel-option-header-text">Cancel</div>
                </a>
            </div>
            <div class="CR-header-filler"></div>
            <div class="CR-log-in-btn-option">
                <a href="/clientLogin" class="CR-log-in-text">
                    LOG IN
                </a>
            </div>
        </div>
        <div class="CR-register-outer-div">
            <div class="CR-register-box">
                <div class="CR-title">Join our crew!</div>
                <div class="CR-inputs-div">
                    <div class="CR-input-box">
                        <div class="CR-input-icon-div">
                            <div class="CR-icon-div">
                                <i class="CR-icon fas fa-user-tie"></i>
                            </div>
                            <div class="CR-input-div">
                                <input id="Name" class="CR-input" type="text" placeholder="Enter your full name" />
                            </div>
                        </div>
                    </div>
                    <div class="CR-input-box" style="margin-top: 5px;">
                        <div class="CR-input-icon-div">
                            <div class="CR-icon-div">
                                <i class="CR-icon fas fa-envelope"></i>
                            </div>
                            <div class="CR-input-div">
                                <input id="Email" class="CR-input" type="text" placeholder="Enter your email address" />
                            </div>
                        </div>
                        <p id="UsedEmailaddress" style="color: red; opacity: 0; margin: 10;">Email address you entered is used</p>
                    </div>
                    <div class="CR-resume-upload-div">
                        <div class="CR-resume-upload-title">Resume upload</div>
                        <i id="file-upload-icon" class="CR-file-icon fas fa-file-upload"></i>
                        <input id="resume-upload" class="CR-resume-upload" type="file" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                        text/plain, application/pdf, image/*" />
                        <div id="file-uploaded-name" class="CR-file-uploaded-name"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="CR-footer">
            <div class="CR-register-btn" id="regBTN">
                <i class="CR-register-btn-icon fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
    <script src="/js/coachRegister.js"></script>
</body>

</html>