<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/coachScheduleUpdate.css">
    <link rel="stylesheet" href="/css/coachNavbarSidebar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="CSU-body">
    {{>coachNavbarSidebar}}
    <div class="CSU-main-window">
        <div class="CSU-inner-window">
            <div class="CSU-schedule-outer-div">
                <img id="image" class="CSU-client-profile-picture" />
                <div class="CSU-schedule-client-profile">
                    <div class="CSU-client-name-div">
                        <div id="name" class="CSU-client-name"></div>
                    </div>
                    <div class="CSU-client-info">
                        <div class="CSU-client-info-text-div">
                            <div class="CSU-client-info-text-title" style="margin-left: 50px;">Age:</div>
                            <div id="age" class="CSU-client-info-text"></div>
                        </div>
                        <div class="CSU-client-info-text-div">
                            <div class="CSU-client-info-text-title" style="margin-left: 150px;">Height:</div>
                            <div id="height" class="CSU-client-info-text"></div>
                        </div>
                        <div class="CSU-client-info-text-div">
                            <div class="CSU-client-info-text-title" style="margin-left: 245px;">Weight:</div>
                            <div id="weight" class="CSU-client-info-text"></div>
                        </div>
                    </div>
                    <div class="CSU-client-msg">
                        <div class="CSU-client-msg-title">Message:</div>
                        <div class="CSU-client-msg-text">We don’t have to include index and value. These are just
                            parameters that help determine which DOM element we’re currently iterating on</div>
                    </div>
                </div>
                <div class="CSU-schedule-div">
                    <div class="CSU-schedule-title">Weekly Training Schedule</div>
                    <div class="CSU-schedule">
                        <div class="CSU-day-outer-div">
                            <div class="CSU-day-bar-div" style="border-top: #333 1px solid;">
                                <div class="CSU-day-name">Sunday</div>
                                <div id="sunday" class="CSU-day-add-exercise-icon fas"></div>
                                <i id="sunday-open-icon" class="CSU-day-dropdown-icon fas fa-caret-down"></i>
                            </div>
                            <div id="sunday-exercises-div" class="CSU-day-exercises"></div>
                        </div>
                        <div class="CSU-day-outer-div">
                            <div class="CSU-day-bar-div" style="border-top: #333 1px solid;">
                                <div class="CSU-day-name">Monday</div>
                                <div id="monday" class="CSU-day-add-exercise-icon fas"></div>
                                <i id="monday-open-icon" class="CSU-day-dropdown-icon fas fa-caret-down"></i>
                            </div>
                            <div id="monday-exercises-div" class="CSU-day-exercises">
                                <div></div>
                            </div>
                        </div>
                        <div class="CSU-day-outer-div">
                            <div class="CSU-day-bar-div" style="border-top: #333 1px solid;">
                                <div class="CSU-day-name">Tuesday</div>
                                <div id="tuesday" class="CSU-day-add-exercise-icon fas"></div>
                                <i id="tuesday-open-icon" class="CSU-day-dropdown-icon fas fa-caret-down"></i>
                            </div>
                            <div id="tuesday-exercises-div" class="CSU-day-exercises">
                                <div></div>
                            </div>
                        </div>
                        <div class="CSU-day-outer-div">
                            <div class="CSU-day-bar-div" style="border-top: #333 1px solid;">
                                <div class="CSU-day-name">Wednesday</div>
                                <div id="wednesday" class="CSU-day-add-exercise-icon fas"></div>
                                <i id="wednesday-open-icon" class="CSU-day-dropdown-icon fas fa-caret-down"></i>
                            </div>
                            <div id="wednesday-exercises-div" class="CSU-day-exercises">
                                <div></div>
                            </div>
                        </div>
                        <div class="CSU-day-outer-div">
                            <div class="CSU-day-bar-div" style="border-top: #333 1px solid;">
                                <div class="CSU-day-name">Thursday</div>
                                <div id="thursday" class="CSU-day-add-exercise-icon fas"></div>
                                <i id="thursday-open-icon" class="CSU-day-dropdown-icon fas fa-caret-down"></i>
                            </div>
                            <div id="thursday-exercises-div" class="CSU-day-exercises">
                                <div></div>
                            </div>
                        </div>
                        <div class="CSU-day-outer-div">
                            <div class="CSU-day-bar-div" style="border-top: #333 1px solid;">
                                <div class="CSU-day-name">Friday</div>
                                <div id="friday" class="CSU-day-add-exercise-icon fas"></div>
                                <i id="friday-open-icon" class="CSU-day-dropdown-icon fas fa-caret-down"></i>
                            </div>
                            <div id="friday-exercises-div" class="CSU-day-exercises">
                                <div></div>
                            </div>
                        </div>
                        <div class="CSU-day-outer-div">
                            <div class="CSU-day-bar-div" style="border-top: #333 1px solid;">
                                <div class="CSU-day-name">Saturday</div>
                                <div id="saturday" class="CSU-day-add-exercise-icon fas"></div>
                                <i id="saturday-open-icon" class="CSU-day-dropdown-icon fas fa-caret-down"></i>
                            </div>
                            <div id="saturday-exercises-div" class="CSU-day-exercises">
                                <div></div>
                            </div>
                        </div>
                        <div id="add-exercise-popup" class="CSU-add-exercise-popup" role="alert">
                            <div class="CSU-add-exercise-popup-container">
                                <div class="CSU-add-exercise-type-buttons">
                                    <div id="muscle-building-choice-btn" class="CSU-add-exercise-type-button">
                                        <div class="CSU-add-exercise-type-button-text">Muscle building</div>
                                    </div>
                                    <div id="cardio-choice-btn" class="CSU-add-exercise-type-button">
                                        <div class="CSU-add-exercise-type-button-text">Cardio</div>
                                    </div>
                                    <div id="other-choice-btn" class="CSU-add-exercise-type-button">
                                        <div class="CSU-add-exercise-type-button-text">Other</div>
                                    </div>
                                    <div class="CSU-add-exercise-buttons-border-slider">
                                        <div class="CSU-add-exercise-buttons-border"></div>
                                    </div>
                                </div>
                                <div id="muscle-building-exercise-div" class="CSU-add-muscle-building-exercise-div">
                                    <div id="muscle-building-exercise-div-inner"
                                        class="CSU-add-muscle-building-exercise-fields">
                                        <div class="CSU-add-exercise-field-item">
                                            <div class="CSU-add-exercise-InputLabeldiv">
                                                <span class="CSU-add-exercise-label-input100">Exercise name</span>
                                            </div>
                                            <div class="CSU-add-exercise-Inputandicondiv">
                                                <div class="CSU-add-exercise-Icondiv">
                                                    <i class="CSU-add-exercise-Icon fas fa-dumbbell"></i>
                                                </div>
                                                <div class="CSU-add-exercise-Inputdiv">
                                                    <input id="muscleExerciseName" class="CSU-add-exercise-input100"
                                                        type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="CSU-flex-in-row-div">
                                            <div class="CSU-add-exercise-field-item-in-row">
                                                <div class="CSU-add-exercise-InputLabeldiv">
                                                    <span class="CSU-add-exercise-label-input100">Number of sets</span>
                                                </div>
                                                <div class="CSU-add-exercise-Inputandicondiv">
                                                    <div class="CSU-add-exercise-Icondiv-in-row">
                                                        <i class="CSU-add-exercise-Icon fas fa-hashtag"></i>
                                                    </div>
                                                    <div class="CSU-add-exercise-Inputdiv">
                                                        <input id="numberOfsets" class="CSU-add-exercise-numberinput100"
                                                            type="number" min="0" max="999" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="CSU-add-exercise-field-item-in-row" style="margin-left: 10%;">
                                                <div class="CSU-add-exercise-InputLabeldiv">
                                                    <span class="CSU-add-exercise-label-input100">Recommended
                                                        weight</span>
                                                </div>
                                                <div class="CSU-add-exercise-Inputandicondiv">
                                                    <div class="CSU-add-exercise-Icondiv-in-row">
                                                        <i class="CSU-add-exercise-Icon fas fa-weight-hanging"></i>
                                                    </div>
                                                    <div class="CSU-add-exercise-Inputdiv">
                                                        <input id="RecommendedWeight"
                                                            class="CSU-add-exercise-numberinput100" type="number"
                                                            min="0" max="999" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="CSU-add-exercise-field-item">
                                            <div class="CSU-add-exercise-InputLabeldiv">
                                                <span class="CSU-add-exercise-label-input100">Description</span>
                                            </div>
                                            <div class="CSU-add-exercise-Inputandicondiv">
                                                <div class="CSU-add-exercise-Inputdiv">
                                                    <textarea id="muscleDes"
                                                        class="CSU-add-exercise-description-input100"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="cardio-exercise-div" class="CSU-add-cardio-exercise-div">
                                    <div id="cardio-exercise-div-inner" class="CSU-add-cardio-exercise-fields">
                                        <div class="CSU-add-exercise-field-item">
                                            <div class="CSU-add-exercise-InputLabeldiv">
                                                <span class="CSU-add-exercise-label-input100">Exercise name</span>
                                            </div>
                                            <div class="CSU-add-exercise-Inputandicondiv">
                                                <div class="CSU-add-exercise-Icondiv">
                                                    <i class="CSU-add-exercise-Icon fas fa-dumbbell"></i>
                                                </div>
                                                <div class="CSU-add-exercise-Inputdiv">
                                                    <input id="cardioExerciseName" class="CSU-add-exercise-input100"
                                                        type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="CSU-add-exercise-field-item">
                                            <div class="CSU-add-exercise-InputLabeldiv">
                                                <span class="CSU-add-exercise-label-input100">Exercise time in
                                                    minutes</span>
                                            </div>
                                            <div class="CSU-add-exercise-Inputandicondiv">
                                                <div class="CSU-add-exercise-Icondiv">
                                                    <i class="CSU-add-exercise-Icon fas fa-clock"></i>
                                                </div>
                                                <div class="CSU-add-exercise-Inputdiv">
                                                    <input id="cardioTime" class="CSU-add-exercise-numberinput100"
                                                        type="number" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="CSU-add-exercise-field-item">
                                            <div class="CSU-add-exercise-InputLabeldiv">
                                                <span class="CSU-add-exercise-label-input100">Description</span>
                                            </div>
                                            <div class="CSU-add-exercise-Inputandicondiv">
                                                <div class="CSU-add-exercise-Inputdiv">
                                                    <textarea id="cardioDes"
                                                        class="CSU-add-exercise-description-input100"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="other-exercises-div" class="CSU-add-cardio-exercise-div">
                                    <div id="other-exercises-div-inner" class="CSU-add-other-exercise-fields">
                                        <div class="CSU-add-exercise-field-item">
                                            <div class="CSU-add-exercise-InputLabeldiv">
                                                <span class="CSU-add-exercise-label-input100">Exercise name</span>
                                            </div>
                                            <div class="CSU-add-exercise-Inputandicondiv">
                                                <div class="CSU-add-exercise-Icondiv">
                                                    <i class="CSU-add-exercise-Icon fas fa-dumbbell"></i>
                                                </div>
                                                <div class="CSU-add-exercise-Inputdiv">
                                                    <input id="stretchesExerciseName" class="CSU-add-exercise-input100"
                                                        type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="CSU-add-exercise-field-item">
                                            <div class="CSU-add-exercise-InputLabeldiv">
                                                <span class="CSU-add-exercise-label-input100">Description</span>
                                            </div>
                                            <div class="CSU-add-exercise-Inputandicondiv">
                                                <div class="CSU-add-exercise-Inputdiv">
                                                    <textarea id="stretchesDes"
                                                        class="CSU-add-other-exercise-description-input100"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="CSU-add-exercise-popup-buttons">
                                    <button id="add-exercise-popup-btn"
                                        class="CSU-add-exercise-popup-confirm-button">Save</button>
                                    <button id="add-exercise-popup-close"
                                        class="CSU-add-exercise-popup-cancel-button">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div id="cd-popup" class="CSU-Confirm-popup" role="alert">
                            <div class="CSU-popup-container">
                                <div class="CSU-Confirm-popup-text">
                                    <p>Are you sure you want to delete your account?</p>
                                </div>
                                <div class="CSU-Confirm-popup-buttons">
                                    <button id="deleteBTN" class="CSU-Confirm-popup-confirm-button">Yes</button>
                                    <button id="cd-popup-cancel-btn-close"
                                        class="CSU-Confirm-popup-cancel-button">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/coachScheduleUpdate.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>