<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/coachClients.css">
    <link rel="stylesheet" href="/css/coachNavbarSidebar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="body">
    {{>coachNavbarSidebar}}
    <div class="CC-main-window">
        <div class="CC-search-DIV">
            <input class="CC-search-input" placeholder="Search" />
            <div class="CC-search-btn">
                <i class="CC-search-icon fas fa-search"></i>
            </div>
        </div>
        <div class="CC-sortClients-div">
        </div>
        <div class="CC-clients-DIV">
            <div class="CC-client-card">
                <div class="CC-client-card-inner">
                    <div class="CC-client-card-front">
                        <div class="CC-client-name-div">
                            <div class="CC-client-name">Katarina Nora</div>
                        </div>
                        <img src="/images/client5.jpg" alt="Avatar" class="CC-client-card-photo">
                    </div>
                    <div class="CC-client-card-back">
                        <div class="CC-client-card-back-info-text">Edit Schedule</div>
                    </div>
                </div>
            </div>
            <div class="CC-client-card">
                <div class="CC-client-card-inner">
                    <div class="CC-client-card-front">
                        <div class="CC-client-name-div">
                            <div class="CC-client-name">Emily Smith</div>
                        </div>
                        <img src="/images/f0a64e32194d341befecc80458707565.jpg" alt="Avatar" class="CC-client-card-photo">
                    </div>
                    <div class="CC-client-card-back">
                        <div class="CC-client-card-back-info-text">Edit Schedule</div>
                    </div>
                </div>
            </div>
            <div class="CC-client-card">
                <div class="CC-client-card-inner">
                    <div class="CC-client-card-front">
                        <div class="CC-client-name-div">
                            <div class="CC-client-name">Mark Wilson</div>
                        </div>
                        <img src="/images/client4.jpg" alt="Avatar" class="CC-client-card-photo">
                    </div>
                    <div class="CC-client-card-back">
                        <div class="CC-client-card-back-info-text">Edit Schedule</div>
                    </div>
                </div>
            </div>
            <div class="CC-client-card">
                <div class="CC-client-card-inner">
                    <div class="CC-client-card-front">
                        <div class="CC-client-name-div">
                            <div class="CC-client-name">Janna White</div>
                        </div>
                        <img src="/images/client3.jpg" alt="Avatar" class="CC-client-card-photo">
                    </div>
                    <div class="CC-client-card-back">
                        <div class="CC-client-card-back-info-text">Edit Schedule</div>
                    </div>
                </div>
            </div>
            <div class="CC-client-card">
                <div class="CC-client-card-inner">
                    <div class="CC-client-card-front">
                        <div class="CC-client-name-div">
                            <div class="CC-client-name">Jayce Jackson</div>
                        </div>
                        <img src="/images/client2.jpg" alt="Avatar" class="CC-client-card-photo">
                    </div>
                    <div class="CC-client-card-back">
                        <div class="CC-client-card-back-info-text">Edit Schedule</div>
                    </div>
                </div>
            </div>
            <div class="CC-client-card">
                <div class="CC-client-card-inner">
                    <div class="CC-client-card-front">
                        <div class="CC-client-name-div">
                            <div class="CC-client-name">Jon Taylor</div>
                        </div>
                        <img src="/images/client1.jpg" alt="Avatar" class="CC-client-card-photo">
                    </div>
                    <div class="CC-client-card-back">
                        <div class="CC-client-card-back-info-text">Edit Schedule</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="CC-footer"></div>
    </div>
    <script src="/js/coachClients.js"></script>
</body>

</html>