<!DOCTYPE html>
<html>

<head>
    <title>KryptoGym</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="/css/coachProfile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="coachProfile-body">
    <div class="coachProfile-mainWindow">
        <div class="coachProfile-header">
            <div class="coachProfile-cancel-btn-option">
                <a id="cancel" class="coachProfile-cancel-btn-option-inner">
                    <i class="coachProfile-cancel-icon fas fa-chevron-left"></i>
                    <div class="coachProfile-cancel-text">
                        CANCEL
                    </div>
                </a>
            </div>
            <div class="coachProfile-header-filler"></div>
            <div class="coachProfile-save-changes-btn-option">
                <a id="SaveChanges" class="coachProfile-save-changes-btn-option-inner">
                    <div class="coachProfile-save-changes-text">
                        SAVE CHANGES
                    </div>
                    <i class="coachProfile-save-changes-icon fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="coachProfile-innerMain">
            <div class="coachProfile-profile-pannel">
                <div class="coachProfile-profile-picture-change-outer-div">
                    <div class="coachProfile-profile-picture-change-div">
                        <div class="coachProfile-profile-picture-change-title">Profile Picture</div>
                        <div class="img__wrap">
                            <p id="edit-text" class="edit-text" data-symbol="&#xf206;">Edit</p>
                            <i class="edit-icon fas fa-edit"></i>
                            <img id="profile-img" class="img-uplaoder"
                                src="/images/png-transparent-user-profile-computer-icons-login-user-avatars.png" />
                            <input id="img-upload" class="img__input" type="file" accept="image/*" />
                        </div>
                    </div>
                </div>
                <div class="coachProfile-severing-border"></div>
                <div class="coachProfile-user-info-outer-div">
                    <div class="coachProfile-user-info-div">
                        <div class="coachProfile-user-info-title">Profile Info</div>
                        <div class="coachProfile-user-info-inner-div">
                            <div class="coachProfile-user-info-items-div">
                                <div class="coachProfile-user-info-item">
                                    <div class="coachProfile-user-info-item-title">Email</div>
                                    <div id="email" class="coachProfile-user-info-item-text"></div>
                                </div>
                                <div class="coachProfile-user-info-item">
                                    <div class="coachProfile-user-info-item-title">Full Name</div>
                                    <div id="name" class="coachProfile-user-info-item-text"></div>
                                    <div id="name-save-btn" class="coachProfile-user-info-item-save-btn">
                                        <div class="coachProfile-user-info-item-save-btn-text">Save</div>
                                    </div>
                                    <i id="name-edit" class="coachProfile-user-info-item-icon fas fa-edit"></i>
                                </div>
                                <div class="coachProfile-user-info-item-no-border">
                                    <div class="coachProfile-user-info-item-title">Password</div>
                                    <div class="coachProfile-user-info-item-text">************</div>
                                    <i id="password-edit" class="coachProfile-user-info-item-icon fas fa-edit"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cd-changepass-popup" class="coachProfile-changepass-popup" role="alert">
            <div class="coachProfile-changepass-popup-container">
                <div class="coachProfile-changepass-fields">
                    <div class="coachProfile-changepass-field-item">
                        <div class="coachProfile-changepass-InputLabeldiv">
                            <span class="coachProfile-changepass-label-input100">Current Password</span>
                        </div>
                        <div class="coachProfile-changepass-Inputandicondiv">
                            <div class="coachProfile-changepass-Icondiv">
                                <i class="coachProfile-changepass-Icon fas fa-lock"></i>
                            </div>
                            <div class="coachProfile-changepass-Inputdiv">
                                <input class="coachProfile-changepass-input100" type="password" id="old-password"
                                    placeholder="Type your current password" />
                            </div>
                        </div>
                        <p id="passwordREQ" style="color: red; opacity: 1; margin: 0;"></p>
                    </div>
                    <div class="coachProfile-changepass-field-item">
                        <div class="coachProfile-changepass-InputLabeldiv">
                            <span class="coachProfile-changepass-label-input100">new Password</span>
                        </div>
                        <div class="coachProfile-changepass-Inputandicondiv">
                            <div class="coachProfile-changepass-Icondiv">
                                <i class="coachProfile-changepass-Icon fas fa-lock"></i>
                            </div>
                            <div class="coachProfile-changepass-Inputdiv">
                                <input class="coachProfile-changepass-input100" type="password" id="new-password"
                                    placeholder="Type your new password" />
                            </div>
                        </div>
                        <p id="newPasswordREQ" style="color: red; opacity: 1; margin: 0;"></p>
                    </div>
                    <div class="coachProfile-changepass-field-item">
                        <div class="coachProfile-changepass-InputLabeldiv">
                            <span class="coachProfile-changepass-label-input100">Confirm New Password</span>
                        </div>
                        <div class="coachProfile-changepass-Inputandicondiv">
                            <div class="coachProfile-changepass-Icondiv">
                                <i class="coachProfile-changepass-Icon fas fa-lock"></i>
                            </div>
                            <div class="coachProfile-changepass-Inputdiv">
                                <input class="coachProfile-changepass-input100" type="password"
                                    id="confirm-new-password" placeholder="Type your new password again" />
                            </div>
                        </div>
                    </div>
                    <p id="successfullyREQ"
                        style="color: rgb(21, 219, 21); opacity: 0; margin: 2; font-weight: 900; font-family: Poppins-Regular;">
                        Password successfully changed</p>
                </div>
                <div class="coachProfile-changepass-popup-buttons">
                    <button id="popupConfirmBTN" class="coachProfile-changepass-popup-confirm-button">Confirm</button>
                </div>
                <button id="cd-changepass-popup-close" class="coachProfile-changepass-popup-close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <script src="/js/coachProfile.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

</body>

</html>