<!DOCTYPE html>
<html>

<head>
    <title>Coach's Clients</title>
    <link rel="stylesheet" href="./css/coachClients.css">
    {{>links}}
</head>

<body>
    <header>
        <div class="icon-div-logo">
            <i class="fas fa-dumbbell dumbbell-icon-cus"></i>
            <p class="logo-title">Krepto Gym</p>
        </div>
        <div class="links-DIV">
        </div>
        <div class="log-buttons-div">
            <a class="sign-log-btn-DIV" href="/userProfile">Profile</a>
            <a class="sign-log-btn-DIV" href="/">Log out</a>
        </div>
    </header>
    <div class="clients-view-DIV">
        <div class="clients-view-inner-DIV">
            <div class="clients-title-DIV">
                <p class="clients-title">Here are your Clients</p>
            </div>
            <div id="clientsList" class="clients">
            </div>
        </div>
    </div>
    <script src="/js/coachClients.js"></script>
</body>

</html>