<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/coachScheduleUpdate.css">
    {{>links}}
</head>

<body>
    <header>
        <div class="icon-div-logo">
            <i class="fas fa-dumbbell dumbbell-icon-cus"></i>
            <p class="logo-title">Krepto Gym</p>
        </div>
        <div class="links-DIV">
        </div>
        <div class="log-buttons-div">
            <a class="sign-log-btn-DIV" href="/userProfile">Profile</a>
            <a class="sign-log-btn-DIV" href="/">Log out</a>
        </div>
    </header>
    <div class="CSU-main-DIV">
        <div class="CSU-Container-DIV">
            <div class="CSU-Schedule-DIV">
                <div class="CSU-Days-DIV">
                    <div class="CSU-Day-DIV">
                        <div id="sun" class="CSU-Day-Num">1</div>
                        <div class="CSU-Day-Name">Sunday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div id="mun" class="CSU-Day-Num">2</div>
                        <div class="CSU-Day-Name">Monday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div id="tue" class="CSU-Day-Num">3</div>
                        <div class="CSU-Day-Name">Tuesday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div id="wed" class="CSU-Day-Num">4</div>
                        <div class="CSU-Day-Name">Wednesday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div id="thu" class="CSU-Day-Num">5</div>
                        <div class="CSU-Day-Name">Thursday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div id="fri" class="CSU-Day-Num">6</div>
                        <div class="CSU-Day-Name">Friday</div>
                    </div>
                    <div class="CSU-Day-DIV CSU-Border-left">
                        <div id="sat" class="CSU-Day-Num">7</div>
                        <div class="CSU-Day-Name">Saturday</div>
                    </div>
                </div>
                <div class="CSU-Training-Schedule-DIV">
                    <div class="CSU-Training-Schedule-Day">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <textarea id="sunday" class="CSU-Daily-Training-Text"></textarea>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <textarea id="monday" class="CSU-Daily-Training-Text"></textarea>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <textarea id="tuesday" class="CSU-Daily-Training-Text"></textarea>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <textarea id="wednesday" class="CSU-Daily-Training-Text"></textarea>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <textarea id="thursday" class="CSU-Daily-Training-Text"></textarea>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <textarea id="friday" class="CSU-Daily-Training-Text"></textarea>
                    </div>
                    <div class="CSU-Training-Schedule-Day CSU-Border-left">
                        <div class="CSU-Daily-Training-Title">Exercise</div>
                        <textarea id="saturday" class="CSU-Daily-Training-Text"></textarea>
                    </div>
                </div>
            </div>
            <div class="CSU-Nutritions-msg-DIV">
                <div class="CSU-Nutritions-outer-DIV">
                    <div class="CSU-Daily-Training-Title">Nutritions</div>
                    <div class="CSU-Nutritions-DIV">
                        <div class="CSU-row">
                            <div class="CSU-Nutrition-item">
                                <div class="CSU-Nutrition-item-title">Calories:</div>
                                <input id="Calories" class="CSU-Nutrition-item-value" readonly></input>
                                <div class="CSU-Nutrition-item-title">g</div>
                            </div>
                            <div class="CSU-Nutrition-item">
                                <div class="CSU-Nutrition-item-title">Fats:</div>
                                <input id="fats" class="CSU-Nutrition-item-value"></input>
                                <div class="CSU-Nutrition-item-title">g</div>
                            </div>
                            <div class="CSU-Nutrition-item">
                                <div class="CSU-Nutrition-item-title">Carbohydrates:</div>
                                <input id="carbs" class="CSU-Nutrition-item-value"></input>
                                <div class="CSU-Nutrition-item-title">g</div>
                            </div>
                        </div>
                        <div class="CSU-row">
                            <div class="CSU-Nutrition-item">
                                <div class="CSU-Nutrition-item-title">Proteins:</div>
                                <input id="protine" class="CSU-Nutrition-item-value"></input>
                                <div class="CSU-Nutrition-item-title">g</div>
                            </div>
                            <div class="CSU-Nutrition-item">
                                <div class="CSU-Nutrition-item-title">Sodium:</div>
                                <input id="sodium" class="CSU-Nutrition-item-value"></input>
                                <div class="CSU-Nutrition-item-title">mg</div>
                            </div>
                            <div class="CSU-Nutrition-item">
                                <div class="CSU-Nutrition-item-title">Calcium:</div>
                                <input id="calcium" class="CSU-Nutrition-item-value"></input>
                                <div class="CSU-Nutrition-item-title">%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="CSU-Msg-outer-DIV">
                    <div class="CSU-Daily-Training-Title">Messages</div>
                    <div class="CSU-msg-DIV">
                        <textarea id="notes" class="CSU-Msg-Text"></textarea>
                    </div>
                </div>
            </div>
            <div class="CSU-btns-DIV">
                <div class="R-button-container">
                    <button id="trainingBTN" class="R-button R-abtn R-button-left">
                        Save Training Schedule Changes
                    </button>
                </div>
                <div class="R-button-container">
                    <button id="nutritionsBTN" class="R-button R-abtn R-button-right">
                        Save Nutritions and Messages Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/coachScheduleUpdate.js"></script>
</body>

</html>