<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/coachClients.css">
    <link rel="stylesheet" href="/css/coachNavbarSidebar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="body">
    {{>coachNavbarSidebar}}
    <div class="CC-main-window">
        <img src="/images/coach-clients-wide-bg.jpg" class="CC-search-DIV">
        <div class="CC-sortClients-div">
            <div class="CC-coach-clients-title">Your Clients</div>
        </div>
        <div class="CC-clients-DIV">

        </div>
        <div class="pagination">
            <i id="back" class="CC-page-back-btn fas fa-chevron-left"></i>
            <div id="paginationNumber" class="CC-page-number">1</div>
            <i id="next" class="CC-page-next-btn fas fa-chevron-right"></i>
        </div>
        <div class="CC-footer">
            <div class="CC-help-msg">You need help? Contact US</div>
            <div class="CC-help-email">Email: KreptoGym@gmail.com</div>
            <div class="CC-help-phone">Phone: 123-456-789+</div>
        </div>
    </div>
    <script src="/js/coachClients.js"></script>
</body>

</html>