<!DOCTYPE html>
<html>

<head>
    <title>Coach's Clients</title>
    <link rel="stylesheet" href="./css/coachClients.css">
    {{>links}}
</head>

<body>
    <div class="Masking-DIV">
        <div class="Masking-DIV-2">
            <header>
                <div class="icon-div-logo">
                    <img class="header-logo-icon-img" src="/images/header-logo-icon.png" />
                    <p class="logo-title">Krepto Gym</p>
                </div>
                <div class="links-DIV">
                </div>
                <div class="log-buttons-div">
                    <a class="sign-log-btn-DIV" href="/coachProfile">Profile</a>
                    <div class="dividing-slash">|</div>
                    <a id="logout" class="sign-log-btn-DIV">Log out</a>
                </div>
            </header>
            <div class="clients-view-DIV">
                <div class="clients-view-inner-DIV">
                    <div class="clients-title-DIV">
                        <p class="clients-title">Here are your Clients</p>
                    </div>
                    <div id="clientsList" class="clients">
                        <div id="noClientsmsg" class="noClientsMsg">You currently have no clients</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/coachClients.js"></script>
</body>

</html>