<!DOCTYPE html>
<htm>

    <head>
        <link rel="stylesheet" href="/css/coachClientListForChat.css">
        <link rel="stylesheet" href="/css/coachNavbarSidebar.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
            integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        {{>coachNavbarSidebar}}
        <div class="CCLFC-main-window">
            <div class="CCLFC-title">Pick a client to chat with</div>
            <div id="clientslist" class="CCLFC-client-list">
                <div id="1" class="CCLFC-client">
                    <img id="1" src="/images/f0a64e32194d341befecc80458707565.jpg" class="CCLFC-client-profile-picture" />
                    <div id="1" class="CCLFC-client-name-div">Wisam Halabi</div>
                    <button class="CCLFC-client-chat-btn">Chat</button>
                </div>
                <div id="1" class="CCLFC-client">
                    <img id="1" src="/images/f0a64e32194d341befecc80458707565.jpg" class="CCLFC-client-profile-picture" />
                    <div id="1" class="CCLFC-client-name-div">Wisam Halabi</div>
                    <button class="CCLFC-client-chat-btn">Chat</button>
                </div>
                <div id="1" class="CCLFC-client">
                    <img id="1" src="/images/f0a64e32194d341befecc80458707565.jpg" class="CCLFC-client-profile-picture" />
                    <div id="1" class="CCLFC-client-name-div">Wisam Halabi</div>
                    <button class="CCLFC-client-chat-btn">Chat</button>
                </div>
                <div id="1" class="CCLFC-client">
                    <img id="1" src="/images/f0a64e32194d341befecc80458707565.jpg" class="CCLFC-client-profile-picture" />
                    <div id="1" class="CCLFC-client-name-div">Wisam Halabi</div>
                    <button class="CCLFC-client-chat-btn">Chat</button>
                </div>
                <div id="1" class="CCLFC-client">
                    <img id="1" src="/images/f0a64e32194d341befecc80458707565.jpg" class="CCLFC-client-profile-picture" />
                    <div id="1" class="CCLFC-client-name-div">Wisam Halabi</div>
                    <button class="CCLFC-client-chat-btn">Chat</button>
                </div>
                <div id="1" class="CCLFC-client">
                    <img id="1" src="/images/f0a64e32194d341befecc80458707565.jpg" class="CCLFC-client-profile-picture" />
                    <div id="1" class="CCLFC-client-name-div">Wisam Halabi</div>
                    <button class="CCLFC-client-chat-btn">Chat</button>
                </div>
            </div>
        </div>
        <script src="/js/coachClientListForChat.js"></script>

    </body>
</htm>