<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/coachsView.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="icon-div-logo">
            <i class="fas fa-dumbbell dumbbell-icon-cus"></i>
            <p class="logo-title">Krepto Gym</p>
        </div>
        <div class="links-DIV">
            <a class="links" href="/coachsPick">Coachs</a>
            <a class="links" href="/clientSchedule">Training Schedule</a>
            <a class="links" href="/coachHome">Nutritions</a>
        </div>
        <div class="log-buttons-div">
            <a class="sign-log-btn" href="/userProfile">Profile</a>
            <a class="sign-log-btn" href="/">Log out</a>
        </div>
    </header>
    <div class="coach-view-DIV">
        <div class="coach-view-inner-DIV">
            <div class="pickCoach-title-DIV">
                <p class="pickCoach-title">Choose your coach</p>
            </div>
            <div class="pickCoach" >
                <div class="coachDIV">
                    <div class="coach-profile-pic-DIV">
                        <div class="coach-profile-pic"></div>
                    </div>
                    <div class="coach-info-DIV">
                        <p class="coach-info-name">Coach's name: wisam halabi</p>
                        <p class="coach-info-numberOfClients"> Number of clients: 50</p>
                    </div>
                    <div class="coach-select-btn-DIV">
                        <button class="coach-select-btn">Send Request</button>
                    </div>
                </div>
                <div class="coachDIV-filler"></div>
            </div>
        </div>
    </div>
</body>
</html>