<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/coachHome.css">
    <link rel="stylesheet" href="/css/coachNavbarSidebar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    {{>coachNavbarSidebar}}
    <div class="COH-main-window">
    </div>
</body>
</html>