<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/coach-register-test.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="CR-Main">
            <div class="CR-header">
                <div class="CR-cancel-option-header">
                    <a href="/" class="CR-cancel-option-header-inner">
                        <i class="fas fa-chevron-left" style="margin-right: 10px; height: 100%;"></i>
                        <div class="CR-cancel-option-header-text">Cancel</div>
                    </a>
                </div>
                <div class="CR-header-filler"></div>
                <div class="CR-log-in-btn-option">
                    <a href="/clientLogin" class="CR-log-in-text">
                        LOG IN
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>