<!DOCTYPE html>
<html>

<head>
    <title>Client help</title>
    <link rel="stylesheet" href="./css/help.css">
    {{>links}}
</head>

<body>
    <div class="Masking-DIV">
        <div class="Masking-DIV-2">
            {{>header}}
            <div class="H-main-DIV">
                <div class="H-arrow-icon-div">
                    <i id="left-arrow-btn2" class="H-arrow-icon fas fa-angle-left"> </i>
                </div>
                <div id="H-help-container-coach-1" class="H-client-container-DIV disp-flex">
                    <div class="H-card-title">How To Connect?</div>
                    <div class="H-client-container-inner">
                        <div class="H-card-text">If you are a new coach: </div>
                        <div class="H-card-steps">1. press the sign up button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/help-pic-sign-up-all.png" />
                        </div>
                        <div class="H-card-steps">2. And then press the coach sign up button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/help-pic-sign-up-coach.png" />
                        </div>
                        <div class="H-card-steps">3. Fill your info , then press the register button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-register-page-register-page.png" />
                        </div>
                        <div class="H-card-text">Otherwise, if you are a registered coach:</div>
                        <div class="H-card-steps">1. Press the log in button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/help-pic-log-in-all.png" />
                        </div>
                        <div class="H-card-steps">2. Press the log in as coach button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/log-in-btn-help-pic.png" />
                        </div>
                        <div class="H-card-steps">3. Fill your info , then press the login button:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/log-page.png" />
                        </div>
                    </div>
                </div>
                <div id="H-help-container-coach-2" class="H-client-container-DIV disp-none">
                    <div class="H-card-title">Your Clients</div>
                    <div class="H-client-container-inner">
                        <div class="H-card-text">This page displays your clients and their information</div>
                        <div class="H-card-steps">1. These are your Clients:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-clients-1.png" />
                        </div>
                        <div class="H-card-steps">2. And here you can see your clients information:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-clients-2.png" />
                        </div>
                        <div class="H-card-steps">3. Pressing this button would allow you to change a client's schedule:
                        </div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-clients-3.png" />
                        </div>
                        <div class="H-card-steps">4. Pressing this button would take you to your profile page:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-clients-4.png" />
                        </div>
                        <div class="H-card-steps">5. Pressing this button would log you out of your account:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-clients-5.png" />
                        </div>
                    </div>
                </div>
                <div id="H-help-container-coach-3" class="H-client-container-DIV disp-none">
                    <div class="H-card-title">Clients Schedule Updating</div>
                    <div class="H-client-container-inner">
                        <div class="H-card-text">Here you could give your clients a training schedule</div>
                        <div class="H-card-steps">1. Here you could give training Exersices:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-SU-1.png" />
                        </div>
                        <div class="H-card-steps">2. Here you can give the nutritions needed:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-SU-2.png" />
                        </div>
                        <div class="H-card-steps">3. Here you can add notes:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-SU-3.png" />
                        </div>
                        <div class="H-card-steps">4. Pressing this button allows you to save your changes to the
                            training Schedule: </div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-SU-4.png" />
                        </div>
                        <div class="H-card-steps">5. Pressing this button allows you to save your changes to the
                            nutritions:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-SU-5.png" />
                        </div>
                        <div class="H-card-steps">6. Pressing this button takes you to your profile page:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-SU-6.png" />
                        </div>
                        <div class="H-card-steps">7. Pressing this button logs you out of your account:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-SU-7.png" />
                        </div>
                    </div>
                </div>
                <div id="H-help-container-coach-4" class="H-client-container-DIV disp-none">
                    <div class="H-card-title">The Profile Page</div>
                    <div class="H-client-container-inner">
                        <div class="H-card-text">Here is your profile page</div>
                        <div class="H-card-steps">1. These are your information:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-profile-1.png" />
                        </div>
                        <div class="H-card-steps">2. Pressing this button allows you to change your password:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-profile-2.png" />
                        </div>
                        <div class="H-card-steps">3. Pressing this button allows you to go back to your clients:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-profile-3.png" />
                        </div>
                        <div class="H-card-steps">4. Pressing this button logs you out of your account:</div>
                        <div class="help-img-DIV">
                            <img class="help-img" src="/images/coach-profile-4.png" />
                        </div>
                    </div>
                </div>
                <div class="H-arrow-icon-div">
                    <i id="right-arrow-btn2" class="H-arrow-icon fas fa-angle-right"> </i>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/help.js"></script>
</body>

</html>