<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/help.css">
    {{>links}}
</head>

<body>
    <div class="Masking-DIV">
        <div class="Masking-DIV-2">
            {{>header}}
            <div class="H-main-DIV">
                <div id="H-main-help-container" class="H-container-DIV">
                    <div class="H-title-DIV">Having Trouble?</div>
                    <div class="H-title-sec">choose if you,re a client or a coach:</div>
                    <div class="H-Buttons-DIV">
                        <button id="client-help-btn" class="H-Button">Client</button>
                        <button id="coach-help-btn" class="H-Button H-margin-between-btns">Coach</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/help.js"></script>
</body>

</html>