<!DOCTYPE html>
<html>
    <head>
        <title>Krepto Gym</title>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="https://kit.fontawesome.com/yourcode.js"></script>
    </head>
    <body>
        
        
    </body>
</html>