<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/index.css">
    <title>Krepto Gym</title>
    {{>links}}
</head>

<body>
    <div class="Masking-DIV">
        <div class="Masking-DIV-2">
            {{>header}}
            <div class="main-DIV">
                <div class="container-DIV">
                    <div class="welcome-title-DIV">
                        <div class="welcome-title">Welcome</div>
                        <div class="welcome-title-sec">To Our Gym App.</div>
                    </div>
                    <div class="motive-text-DIV">
                        <div class="motive-text">DO IT</div>
                        <div class="motive-text-big"> NOW</div>
                    </div>
                    <div class="motive-text-DIV">
                        <div class="motive-text">SOMETIMES LATER</div>
                        <div class="motive-text-big">BECOMES NEVER.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>