<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/index.css">
    <title>Krepto Gym</title>
    {{>links}}
</head>

<body>
    {{>header}}
    <div class="main-DIV">

    </div>
</body>

</html>