<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/index.css">
    <title>Krepto Gym</title>
    {{>links}}
</head>

<body>
    <div class="Masking-DIV">
        <div class="Masking-DIV-2">
            {{>header}}
            <div class="main-DIV">
                <div class="container-DIV">
                    <div class="welcome-title">Welcome</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>