<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>KryptoGym Chat</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="./css/Chatstyles.css">
</head>

<body>
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Join</h1>
            <form action="/chat">
                <label>Display name</label>
                <input id="username" type="text" placeholder="Display name" name="username" required autocomplete="off">
                <label>Room</label>
                <input id="room" type="text" placeholder="Room" name="room" required autocomplete="off">
                <button>Join</button>
            </form>
        </div>

    </div>
</body>

</html>