<div class="ClientNS-header">
    <div class="ClientNS-logo-hamburger-icons-div">
        <div class="ClientNS-sidebar-icon-div">
            <img id="sidebar-open-close" class="ClientNS-sidebar-icon" src="/images/menu-white.png">
        </div>
        <div class="ClientNS-logo-div">
            <i class="ClientNS-logo-icon fab fa-korvue"></i>
            <div class="ClientNS-logo-text-div">
                <div class="ClientNS-logo-text1">Krypto</div>
                <div class="ClientNS-logo-text2">GYM</div>
            </div>
        </div>
    </div>
    <div class="ClientNS-header-filler"></div>
    <div class="ClientNS-account-settings"> 
        <div id="acc-settings-btn-div" class="ClientNS-account-settings-icon-div">
            <img id="acc-settings-btn-icon" class="ClientNS-account-settings-icon" src="images/default-pp.png" />
        </div>
        <div id="account-dropdown-div" class="ClientNS-dropdown-div">
            <div id="profile-dd-content" class="ClientNS-profile-dropdown-content">
                <div class="ClientNS-profile-custom-top-border"></div>
                <div class="ClientNS-display-account-info">
                    <div class="ClientNS-profile-dropdown-image-div">
                        <img id="image" class="ClientNS-profile-dropdown-image" src="images/default-pp.png" />
                    </div>
                    <div class="ClientNS-name-account-div">
                        <div id="name" class="ClientNS-user-name-display"></div>
                        <div id="email" class="ClientNS-account-name-display"></div>
                    </div>
                </div>
                <div class="ClientNS-account-features">
                    <div class="ClientNS-profile-item-display">
                        <div class="ClientNS-profile-item-icon-div">
                            <i class="ClientNS-profile-item-icon fas fa-restroom"></i>
                        </div>
                        <div class="ClientNS-profile-item-data-div">
                            <div id="gender" class="ClientNS-profile-item-data"></div>
                        </div>
                    </div>
                    <div class="ClientNS-profile-item-display">
                        <div class="ClientNS-profile-item-icon-div">
                            <i class="ClientNS-profile-item-icon fas fa-birthday-cake"></i>
                        </div>
                        <div class="ClientNS-profile-item-data-div">
                            <div id="birthDate" class="ClientNS-profile-item-data"></div>
                        </div>
                    </div>
                    <div class="ClientNS-profile-item-display">
                        <div class="ClientNS-profile-item-icon-div">
                            <i class="ClientNS-profile-item-icon fas fa-flag"></i>
                        </div>
                        <div class="ClientNS-profile-item-data-div">
                            <div id="country" class="ClientNS-profile-item-data"></div>
                        </div>
                    </div>
                    <div class="ClientNS-profile-item-display">
                        <div class="ClientNS-profile-item-icon-div">
                            <i class="ClientNS-profile-item-icon fas fa-ruler-vertical"></i>
                        </div>
                        <div class="ClientNS-profile-item-data-div">
                            <div id="height" class="ClientNS-profile-item-data"></div>
                            <div class="ClientNS-profile-item-data-addtion">Cm</div>
                        </div>
                    </div>
                    <div class="ClientNS-profile-item-display">
                        <div class="ClientNS-profile-item-icon-div">
                            <i class="ClientNS-profile-item-icon fas fa-weight-hanging"></i>
                        </div>
                        <div class="ClientNS-profile-item-data-div">
                            <div id="weight" class="ClientNS-profile-item-data"></div>
                            <div class="ClientNS-profile-item-data-addtion">Kg</div>
                        </div>
                    </div>
                </div>
                <div class="ClientNS-dropdown-footer">
                    <div id="edit" class="ClientNS-edit-profile-btn">
                        <div class="Client-edit-profile-btn-text">Edit Profile</div>
                        <i class="Client-edit-profile-btn-icon fas fa-user-edit"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Sidenav" class="ClientNS-sidebar">
    <div class="ClientNS-sidenav-links">
        <a href="/clientHome" class="ClientNS-sidenav-link">
            <i class="ClientNS-sidenav-link-icon fas fa-home"></i>
            <div class="ClientNS-sidenav-link-text">Home</div>
        </a>
        <a href="/clientSchedule" class="ClientNS-sidenav-link">
            <i class="ClientNS-sidenav-link-icon fas fa-clipboard-list"></i>
            <div class="ClientNS-sidenav-link-text">My Schedule</div>
        </a>
        <div class="ClientNS-sidenav-link">
            <i class="ClientNS-sidenav-link-icon fas fa-utensils"></i>
            <div class="ClientNS-sidenav-link-text">Meals</div>
        </div>
        <div id="chat" class="ClientNS-sidenav-link">
            <i class="ClientNS-sidenav-link-icon fas fa-comments"></i>
            <div class="ClientNS-sidenav-link-text">Chat</div>
        </div>
    </div>
    <a id="logout" class="ClientNS-sidenav-logout-link">
        <i class="ClientNS-sidenav-link-icon fas fa-sign-out-alt"></i>
        <div class="ClientNS-sidenav-link-text">LOG OUT</div>
    </a>
</div>
<script src="/js/clientNavbarSidebar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
