<div class="COH-header">
    <div class="COH-logo-hamburger-icons-div">
        <div class="COH-sidebar-icon-div">
            <img id="sidebar-open-close" class="COH-sidebar-icon" src="/images/menu-white.png">
        </div>
        <div class="COH-logo-div">
            <i class="COH-logo-icon fab fa-korvue"></i>
            <div class="COH-logo-text-div">
                <div class="COH-logo-text1">Krypto</div>
                <div class="COH-logo-text2">GYM</div>
            </div>
        </div>
    </div>
    <div class="COH-header-filler"></div>
    <div class="COH-account-settings">
        <div id="notification-btn" class="COH-notification-icon-div">
            <div class="COH-notifcations-number">5</div>
            <i class="COH-notification-icon fas fa-bell"></i>
        </div>
        <div id="acc-settings-btn-div" class="COH-account-settings-icon-div">
            <i class="COH-account-settings-icon fas fa-user-circle"></i>
            <div id="Profile-drop-down" class="COH-dropdown-div">
            </div>
        </div>
    </div>
</div>
<div id="Sidenav" class="COH-sidebar">
    <div class="COH-sidenav-links">
        <div class="COH-sidenav-link">
            <i class="COH-sidenav-link-icon fas fa-home"></i>
            <div class="COH-sidenav-link-text">Home</div>
        </div>
        <div class="COH-sidenav-link">
            <i class="COH-sidenav-link-icon fas fa-users"></i>
            <div class="COH-sidenav-link-text">Clients</div>
        </div>
        <div class="COH-sidenav-link">
            <i class="COH-sidenav-link-icon fas fa-utensils"></i>
            <div class="COH-sidenav-link-text">Nutretions</div>
        </div>
        <div class="COH-sidenav-link">
            <i class="COH-sidenav-link-icon fas fa-comments"></i>
            <div class="COH-sidenav-link-text">Chat</div>
        </div>
    </div>
    <div class="COH-sidenav-logout-link">
        <i class="COH-sidenav-link-icon fas fa-sign-out-alt"></i>
        <div class="COH-sidenav-link-text">LOG OUT</div>
    </div>
</div>
<script src="/js/header.js"></script>