<div class="CNS-header">
    <div class="CNS-logo-hamburger-icons-div">
        <div class="CNS-sidebar-icon-div">
            <img id="sidebar-open-close" class="CNS-sidebar-icon" src="/images/menu-white.png">
        </div>
        <div class="CNS-logo-div">
            <i class="CNS-logo-icon fab fa-korvue"></i>
            <div class="CNS-logo-text-div">
                <div class="CNS-logo-text1">Krypto</div>
                <div class="CNS-logo-text2">GYM</div>
            </div>
        </div>
    </div>
    <div class="CNS-header-filler"></div>
    <div class="CNS-account-settings">
        <div id="notification-btn" class="CNS-notification-icon-div">
            <div id="notifications-icon-numbers" class="CNS-notifcations-number">5</div>
            <i id="notifications-icon-bell" class="CNS-notification-icon fas fa-bell"></i>
        </div>
        <div id="acc-settings-btn-div" class="CNS-account-settings-icon-div">
            <i id="acc-settings-btn-icon" class="CNS-account-settings-icon fas fa-user-circle"></i>
        </div>
        <div id="account-dropdown-div" class="CNS-dropdown-div">
            <div id="profile-dd-content" class="CNS-profile-dropdown-content">
                <div class="CNS-profile-custom-top-border"></div>
                <div class="CNS-display-account-info">
                    <div class="CNS-profile-dropdown-image-div">
                        <img class="CNS-profile-dropdown-image" src="images/default-pp.png"/>
                    </div>
                    <div class="CNS-name-account-div">
                        <div class="CNS-user-name-display">Knight Artorias</div>
                        <div class="CNS-account-name-display">wisamwrh@gmail.com</div>
                    </div>
                </div>
                <div class="CNS-account-features"></div>
                <div class="CNS-dropdown-footer"></div>
            </div>
            <div id="notification-dd-content-div" class="CNS-notification-dropdown-content-div">
                <div class="CNS-notifictions-custom-top-border">
                    <div class="CNS-notifictions-custom-top-border1"></div>
                    <div class="CNS-notifictions-custom-top-border-filler"></div>
                    <div class="CNS-notifictions-custom-top-border2"></div>
                </div>
                <div id="notification-dd-content" class="CNS-notification-dropdown-content">
                    <div class="CNS-notifiction-div"></div>
                    <div class="CNS-notifiction-div"></div>
                    <div class="CNS-notifiction-div"></div>
                    <div class="CNS-notifiction-div"></div>
                    <div class="CNS-notifiction-div"></div>
                    <div class="CNS-notifiction-div"></div>
                    <div class="CNS-notifiction-div"></div>
                    <div class="CNS-notifiction-div"></div>
                    <div class="CNS-notifiction-div"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Sidenav" class="CNS-sidebar">
    <div class="CNS-sidenav-links">
        <a href="/coachHome" class="CNS-sidenav-link">
            <i class="CNS-sidenav-link-icon fas fa-home"></i>
            <div class="CNS-sidenav-link-text">Home</div>
        </a>
        <a href="/coachClients" class="CNS-sidenav-link">
            <i class="CNS-sidenav-link-icon fas fa-users"></i>
            <div class="CNS-sidenav-link-text">Clients</div>
        </a>
        <div class="CNS-sidenav-link">
            <i class="CNS-sidenav-link-icon fas fa-utensils"></i>
            <div class="CNS-sidenav-link-text">Meals</div>
        </div>
        <div class="CNS-sidenav-link">
            <i class="CNS-sidenav-link-icon fas fa-comments"></i>
            <div class="CNS-sidenav-link-text">Chat</div>
        </div>
    </div>
    <a href="/" class="CNS-sidenav-logout-link">
        <i class="CNS-sidenav-link-icon fas fa-sign-out-alt"></i>
        <div class="CNS-sidenav-link-text">LOG OUT</div>
    </a>
</div>
<script src="/js/coachNavbarSidebar.js"></script>