<header>
    <div class="icon-div-logo">
        <img class="header-logo-icon-img" src="/images/header-logo-icon.png" />
        <div class="logo-title">Krepto Gym</div>
    </div>
    <div class="links-DIV">
        <a class="links" href="/">Home</a>
        <div class="dividing-slash">|</div>
        <a class="links" href="/about">About</a>
        <div class="dividing-slash">|</div>
        <a class="links" href="/help">Help</a>
    </div>
    <div class="log-buttons-div">
        <div class="dropdown">
            <button id="dropbtn" class="dropbtn">Sign up</button>
            <div id="myDropdown" class="dropdown-content">
                <a id="coach-sign-up-btn" href="/coachRegister">Coach Sign Up</a>
                <div class="popups-button-barrier-border"></div>
                <a id="client-sign-up-btn" href="/clientRegister">Client Sign Up</a>
            </div>
        </div>
        <div class="dividing-slash">|</div>
        <div class="dropdown2">
            <button id="dropbtn2" class="dropbtn2">Log in</button>
            <div id="myDropdown2" class="dropdown-content2">
                <a id="coach-log-in-btn" href="/coachLogin">Log in as Coach</a>
                <div class="popups-button-barrier-border"></div>
                <a id="client-log-in-btn" href="/clientLogin">Log in as Client</a>
            </div>
        </div>
    </div>
</header>
<script src="/js/header.js"></script>