<header>
    <div class="icon-div-logo">
        <img class="header-logo-icon-img" src="/images/header-logo-icon.png"/>
        <p class="logo-title">Krepto Gym</p>
    </div>
    <div class="links-DIV">
        <a class="links" href="/">Home</a>
        <div class="dividing-slash">|</div>
        <a class="links" href="/about">About</a>
        <div class="dividing-slash">|</div>
        <a class="links" href="/help">Help</a>
    </div>
    <div class="log-buttons-div">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Sign up</button>
            <div id="myDropdown" class="dropdown-content">
                <a  href="/coachRegister">Coach Sign Up</a>
                <a  href="/clientRegister">Client Sign Up</a>
            </div>
        </div>
        <div class="dividing-slash">|</div>
        <div class="dropdown2">
            <button onclick="myFunction2()" class="dropbtn2">Log in</button>
            <div id="myDropdown2" class="dropdown-content2">
                <a href="/coachLogin">Log in as Coach</a>
                <a href="/clientLogin">Log in as Client</a>
            </div>
        </div>
    </div>
</header>
<script src="/js/header.js"></script>