<header>
    <div class="icon-div-logo">
        <i class="fas fa-dumbbell dumbbell-icon-cus"></i>
        <p class="logo-title">Krepto Gym</p>
    </div>
    <div class="links-DIV">
        <a class="links">Home</a>
        <a class="links">About</a>
        <a class="links">Help</a>
    </div>
    <div class="log-buttons-div">
        <a class="sign-log-btn">Sign up</a>
        <a class="sign-log-btn">Log in</a>
    </div>
    <div class="icon-div">
        <i class="fas fa-bars bars-icon-cus"></i>
    </div>
</header>