<div className={this.props.wrap}>
    <div className="L-InputLabeldiv">
        <span className="label-input100">{this.state.name}</span>
    </div>
    <div className="L-Inputandicondiv">
        <div className="L-Icondiv">
            <i className={this.state.icon}></i>
        </div>
        <div className="L-Inputdiv">
            <input className="input100" type={this.state.type} name={this.state.name}
                placeholder={this.state.placeholder} onChange={this.props.TPU} />
        </div>
    </div>
</div>