@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins.regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins.medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins.bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins.semibold.ttf');
}

.master-DIV {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}

.about-containing-DIV {
    height: 97%;
    width: 95%;
    border-radius: 24px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.about-icons-DIV {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-icon {
    width: 100%;
    height: 25%;
}

.about-containing-Inner-DIV {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.title-DIV {
    margin-left: 200px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.title-text {
    margin-left: 15px;
    color: white;
    font-size: 100px;
    font-family: Poppins-Medium;
}

.bar-DIV {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.bar-items-DIV {
    height: 100%;
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border-full-opacity {
    border-bottom: 2px solid rgb(207, 185, 151);
    width: 100%;
}

.border-half-opacity {
    border-bottom: 2px solid rgb(207, 185, 151, .5);
    width: 100%;
}

.bar-items-text {
    color: white;
    font-family: Poppins-Regular;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.about-outer-text-DIV {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.about-text-title {
    color: white;
    font-family: Poppins-Bold;
}

.about-text-DIV-left {
    width: 66.666666%;
    height: 90%;
    background-color: black;
    border: 1px solid rgb(207, 185, 151);
}

.about-text-DIV-center {
    width: 66.666666%;
    height: 90%;
    background-color: black;
    border: 1px solid rgb(207, 185, 151);
    display: none;
}

.about-text-DIV-right {
    width: 66.666666%;
    height: 90%;
    background-color: black;
    border: 1px solid rgb(207, 185, 151);
    display: none;
}

.about-text-p {
    font-family: Poppins-Regular;
    color: rgb(207, 185, 151);
    margin-left: 10px;
}

.img-slider {
    width: 33.33333%;
    height: 90%;
    margin-left: 20px;
}