@font-face {
    font-family: Poppins-Regular;
    src: url('/fonts/poppins.regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('/fonts/poppins.medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/fonts/poppins.bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('/fonts/poppins.semibold.ttf');
}

body {
    background-color: white;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-size: 14px;
    user-select: none;
}

.CR-Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.CR-header {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
}

.CR-cancel-option-header {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CR-cancel-option-header-text {
    font-size: 14px;
    font-family: Poppins-Regular;
    letter-spacing: 0.10em;
}

.CR-cancel-option-header-inner {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: black;
    text-decoration: none;
}

.CR-cancel-option-header-inner:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    background: black;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}



.CR-cancel-option-header-inner:hover:after {
    width: 100%;
    left: 0;
}

.CR-header-filler {
    height: 100%;
    width: 80%;
}

.CR-log-in-btn-option {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CR-log-in-text {
    font-size: 14px;
    font-family: Poppins-Regular;
    cursor: pointer;
    letter-spacing: 0.10em;
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
}

.CR-log-in-text:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    background: black;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.CR-log-in-text:hover:after {
    width: 100%;
    left: 0;
}