@font-face {
    font-family: Poppins-Regular;
    src: url('/fonts/poppins.regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('/fonts/poppins.medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/fonts/poppins.bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('/fonts/poppins.semibold.ttf');
}

.coachProfile-body {
    background-color: white;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-size: 14px;
    user-select: none;
}

.coachProfile-mainWindow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.coachProfile-header {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
}

.coachProfile-cancel-btn-option {
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.coachProfile-cancel-btn-option-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    position: relative;
    cursor: pointer;
}

.coachProfile-cancel-text{
    color: black;
    font-family: Poppins-Regular;
    font-size: 14px;
    transition: all 0.5s;
    letter-spacing: 0.10em;
}

.coachProfile-cancel-icon{
    color: black;
    font-size: 17px;
    position: absolute;
    left: 10%;
    top: 35%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(20%, -50%);
    transition: all 0.5s;
}

.coachProfile-cancel-btn-option-inner:hover .coachProfile-cancel-icon{
    opacity: 1;
    transition: all 0.5s;
    color: black;
    transform: translate(-20%, -50%);
}

.coachProfile-cancel-btn-option-inner:hover .coachProfile-cancel-text{
    transform: translate(20%, 0%);
    transition: all 0.5s;
    color: black;
}

.coachProfile-header-filler {
    height: 100%;
    width: 67%;
}

.coachProfile-save-changes-btn-option {
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.coachProfile-save-changes-btn-option-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    position: relative;
    cursor: pointer;
}

.coachProfile-save-changes-text{
    color: black;
    font-family: Poppins-Regular;
    font-size: 14px;
    transition: all 0.5s;
    letter-spacing: 0.10em;
}

.coachProfile-save-changes-icon{
    color: black;
    font-size: 17px;
    position: absolute;
    left: 90%;
    top: 35%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-90%, -50%);
    transition: all 0.5s;
}

.coachProfile-save-changes-btn-option-inner:hover .coachProfile-save-changes-icon{
    opacity: 1;
    transition: all 0.5s;
    color: black;
    transform: translate(-40%, -50%);
}

.coachProfile-save-changes-btn-option-inner:hover .coachProfile-save-changes-text{
    transform: translate(-20%, 0%);
    transition: all 0.5s;
    color: black;
}

.coachProfile-delete-account-btn-option {
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.coachProfile-delete-account-btn-option-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    position: relative;
    cursor: pointer;
}

.coachProfile-delete-account-text{
    color: darkred;
    font-family: Poppins-Regular;
    font-size: 14px;
    transition: all 0.5s;
    letter-spacing: 0.10em;
}

.coachProfile-delete-account-icon{
    color: darkred;
    font-size: 17px;
    position: absolute;
    left: 90%;
    top: 35%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-90%, -50%);
    transition: all 0.5s;
}

.coachProfile-delete-account-btn-option-inner:hover .coachProfile-delete-account-icon{
    opacity: 1;
    transition: all 0.5s;
    color: darkred;
    transform: translate(-40%, -50%);
}

.coachProfile-delete-account-btn-option-inner:hover .coachProfile-delete-account-text{
    transform: translate(-20%, 0%);
    transition: all 0.5s;
    color: darkred;
}

.coachProfile-innerMain {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.coachProfile-innerMain2 {
    width: 100%;
    height: 150%;
    display: flex;
    justify-content: center;
}

.coachProfile-profile-pannel {
    width: 85%;
    height: 92%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coachProfile-severing-border{
    height: 80%;
    border-left: solid #333 1px;
}

.coachProfile-profile-picture-change-outer-div {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coachProfile-profile-picture-change-div {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.coachProfile-profile-picture-change-title{
    font-family: Poppins-Regular;
    font-size: 30px;

}

.coachProfile-user-info-outer-div {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coachProfile-user-info-div {
    width: 97.5%;
    height: 95%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.coachProfile-user-info-title{
    font-family: Poppins-Regular;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 40%;
}

.coachProfile-user-info-inner-div{
    width: 95%;
    height: 40%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coachProfile-user-info-items-div{
    width: 97.5%;
    height: 95%;
}

.coachProfile-user-info-item{
    height: 33.3333%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0,0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.coachProfile-user-info-item-no-border{
    height: 33.3333%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.coachProfile-user-info-item-title{
    font-family: Poppins-Regular;
    font-size: 15px;
}

.coachProfile-user-info-item-text{
    font-family: Poppins-Regular;
    font-size: 15px;
    position: absolute;
    left: 45%;
}

.coachProfile-user-info-item-icon{
    font-size: 17px;
    cursor: pointer;
    color: #555;
    position: absolute;
    left: 97%;
}

.coachProfile-user-info-item-save-btn{
    cursor: pointer;
    background-color: lightgreen;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 87%;
}

.coachProfile-user-info-item-save-btn-text{
    font-family: Poppins-Regular;
    font-size: 10px;
    color: white;
}

.edit-text {
    font-family: Poppins-Medium;
    position: absolute;
    top: 40%;
    left: 41%;
    opacity: 0;
    color: black;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.edit-icon{
    font-family: Poppins-Medium;
    position: absolute;
    top: 47%;
    left: 54%;
    opacity: 0;
    color: black;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.img__input[type="file"] {
    display: none;
}

.img__wrap {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 350px;
    transition: .5s ease;
}

.img__wrap:hover .img-uplaoder{
    opacity: 0.5;
}

.img__wrap:hover .edit-text{
    opacity: 1;
    z-index: 2;
}

.img__wrap:hover .edit-icon{
    opacity: 1;
    z-index: 2;
}
.img-uplaoder {
    opacity: 1;
    z-index: 0;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    object-fit: cover;
    transition: .5s ease;
    cursor: pointer;
    border: 1px solid black;
}

.coachProfile-changepass-popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(81, 81, 81, 0.7);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.coachProfile-changepass-popup.is-visible2 {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.coachProfile-changepass-popup-container {
    position: relative;
    width: 50%;
    height: 75%;
    margin: 4em auto;
    background: #FFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.is-visible2 .coachProfile-changepass-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.coachProfile-changepass-popup-container .coachProfile-changepass-popup-close {
    position: absolute;
    top: 8px;
    background-color: #515151;
    color: white;
    cursor: pointer;
    right: 8px;
    width: 30px;
    height: 30px;
}

.coachProfile-changepass-fields {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coachProfile-changepass-field-item {
    width: 80%;
}

.coachProfile-changepass-InputLabeldiv {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.coachProfile-changepass-label-input100 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #515151;
    line-height: 1.5;
}

.coachProfile-changepass-input100 {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #515151;
    outline: none;
    width: 100%;
    height: 40px;
    background: transparent;
    border: transparent;
}

.coachProfile-changepass-Inputdiv {
    width: 100%;
    display: flex;
    align-items: center;
}

.coachProfile-changepass-Inputandicondiv {
    display: flex;
    flex-direction: row;
    border: 1px #515151 solid;
}

.coachProfile-changepass-Icon {
    color: #515151;
    font-size: 18px;
}

.coachProfile-changepass-Icondiv {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coachProfile-changepass-popup-buttons {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
}

.coachProfile-changepass-popup-confirm-button {
    width: 100%;
    height: 100%;
    background-color: darkred;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
    color: white;
    outline: none;
    font-family: Poppins-Regular;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}


.coachProfile-Confirm-popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(81, 81, 81, 0.7);
    opacity: 0;
    z-index: 12;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.coachProfile-Confirm-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.coachProfile-popup-container {
    position: relative;
    width: 40%;
    height: 40%;
    margin: 4em auto;
    background: #FFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.coachProfile-Confirm-popup-text {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #515151;
    font-family: Poppins-Regular;
}

.coachProfile-Confirm-popup-buttons {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.coachProfile-Confirm-popup-confirm-button {
    width: 50%;
    height: 100%;
    background-color: darkred;
    border-bottom-left-radius: 16px;
    color: white;
    cursor: pointer;
    outline: none;
    font-family: Poppins-Regular;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.coachProfile-Confirm-popup-cancel-button {
    width: 50%;
    height: 100%;
    background-color: #515151;
    color: white;
    cursor: pointer;
    border-bottom-right-radius: 16px;
    outline: none;
    font-family: Poppins-Regular;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.is-visible .coachProfile-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}