.CSU-main-DIV{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.CSU-Container-DIV{
    width: 95%;
    height: 95%;
    background: white;
    border-radius: 26px;
    border: 1px solid #515151 ;
}

.CSU-links-DIV {
    height: 100%;
    width: 72%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .CSU-icon-div-logo {
    width: 14%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .CSU-header-logo-icon-img{
    width: 21.43%;
    height: 43.71%;
  }

.CSU-Schedule-DIV{
    width: 100%;
    height: 60%;
    border-bottom: #515151 1px solid;
}

.CSU-Nutritions-msg-DIV{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}
.CSU-btns-DIV{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
}
.CSU-Days-DIV{
    width: 100%;
    height: 20%;
    border-bottom: #515151 1px solid;
    display: flex;
    flex-direction: row;
}

.CSU-Day-DIV{
    width: 14.285%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CSU-Day-Num{
    color: #515151;
    font-size: 25px;
    font-family: Poppins-Regular;
    width: 38px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.CSU-Day-Name{
    color: #515151;
    font-size: 15px;
    font-family: Poppins-Regular;
}

.CSU-Training-Schedule-DIV{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.CSU-Training-Schedule-Day{
    width: 14.285%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CSU-Daily-Training-Text{
    width: 90%;
    height: 82%;
    margin-top: 7px;
    resize: none;
    overflow-y: auto;
}

.CSU-Daily-Training-Title{
    color: #515151;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins-Regular;
}

.CSU-Nutritions-msg-inner-DIV{
    border: #515151 1px solid;
    width: 99%;
    height: 79%;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    display: flex;
    flex-direction: row;
}
.CSU-Nutritions-outer-DIV{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.CSU-Msg-outer-DIV{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CSU-Nutritions-DIV{
    height: 80%;
    width: 100%;
    border: #515151 1px solid;
    border-left: 0;
    display: flex;
    flex-direction: column;
}
.CSU-row{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.CSU-Nutrition-item{
    width: 33.333333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.CSU-cal-btn-item{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.CSU-Nutrition-item-title{
    color: darkred;
    font-family: Poppins-Regular;
    display: flex;
    align-items: flex-end;
}

.CSU-margin-left{
    margin-left: 5px;
}

.CSU-cal-item-title{
    color: darkred;
    font-family: Poppins-Regular;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
}

.CSU-cal-item-value{
    color: #515151;
    font-family: Poppins-Regular;
    margin-left: 10px;
    width: 30%;
}

.CSU-Calculatebtn-item{
    height: 80%;
    width: 60%;
    background: white;
    color: #515151;
    outline: none;
    font-family: Poppins-Regular;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.CSU-Calculatebtn-item:hover {
    background:  #515151;
    color: white;
}

.CSU-Nutrition-item-value{
    color: #515151;
    font-family: Poppins-Regular;
    margin-left: 10px;
    width: 15%;
}
.CSU-msg-DIV{
    height: 80%;
    width: 100%;
    border: #515151 1px solid;
    border-left: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CSU-Msg-Text{
    width: 94%;
    height: 84%;
    resize: none;
    overflow-y: auto;
}

.CSU-Border-left{
    border-left: #515151 1px solid;
}

.R-abtn{
    text-decoration: none;
    color: #515151;
    font-family: Poppins-Regular;
    z-index: 1;
  }
  .R-button-container {
    width: 70%;
    height: 100%;
    text-align: center;
  }
  .R-button {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    background-color: white;
    outline: transparent;
    cursor: pointer;
  }
  .R-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .R-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .R-button:hover {
    color: white;
    border: none;
  }
  .R-button:hover:before {
    top: -35%;
    background-color: #515151;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .R-button:hover:after {
    top: -45%;
    background-color: #515151;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
.R-button-left{
    border-bottom-left-radius: 25px;
}
.R-button-right{
    border-bottom-right-radius: 25px;
}
