@font-face {
    font-family: Poppins-Regular;
    src: url('/fonts/poppins.regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('/fonts/poppins.medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/fonts/poppins.bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('/fonts/poppins.semibold.ttf');
}

body {
    background-color: white;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-size: 14px;
    user-select: none;
}

.COH-header{
    width: 100%;
    height: 56px;
    background-color: #333;
    display: flex;
    flex-direction: row;
}

.COH-logo-hamburger-icons-div{
    width: 20%;
    display: flex;
    flex-direction: row;
}

.COH-sidebar-icon-div{
    width: 27%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.COH-sidebar-icon{
    width: 20px;
    height: 20px;
    font-family: Poppins-Regular;
    cursor: pointer;
}

.COH-logo-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.COH-logo-icon{
    font-size: 50px;
    color: #CFB997;
}

.COH-logo-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 10px;
}

.COH-logo-text1{
    font-family: Poppins-Regular;
    line-height: 0.8;
    font-size: 20px;
    height: 21px;
    margin-top: 4px;
    color: white;
}

.COH-logo-text2{
    font-family: Poppins-Regular;
    letter-spacing: 1.15em;
    height: 15px;
    line-height: 0.8;
    color: #CFB997;
}

.COH-header-filler{
    width: 60%;
    height: 100%;
}

.COH-account-settings{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.COH-account-settings-icon-div{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    border-top-left-radius: 6px;
}

.COH-notification-icon{
    color: white;
    font-size: 20px;
}

.COH-notifcations-number{
    position: absolute;
    width: 17px;
    height: 17px;
    font-size: 9px;
    left: 45px;
    top: 6px;
    line-height: 17px;
    color: white;
    text-align: center;
    font-family: Poppins-Regular;
    background-color: rgb(196, 62, 0);
    border-radius: 50%;
}

.COH-notification-icon-div{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.COH-account-settings-icon{
    color: white;
    font-size: 35px;
}

.COH-main-window{
    height: 569px;
    width: 100%;
}

.COH-sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    background-color: rgb(66, 66, 66);
    overflow-x: hidden;
    transition: 0.5s;
}

.COH-sidenav-links{
    width: 100%;
    height: 82%;
}

.COH-sidenav-link{
    width: 100%;
    height: 56px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.COH-sidenav-link:hover{
    background-color: rgb(92, 92, 92);
}

.COH-sidenav-logout-link{
    width: 100%;
    height: 56px;
    text-decoration: none;
    display: flex;
    white-space: nowrap;
    align-items: center;
    background-color: #ca3e47;
    cursor: pointer;
    transition: 0.5s;
}

.COH-sidenav-logout-link:hover{
    background-color: #86141c;
}

.COH-sidenav-link-icon{
    color: white;
    margin-right: 15px;
    width: 30%;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.COH-sidenav-link-text{
    font-family: Poppins-Regular;
    color: white;
}

.COH-inner-main{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background: url(/images/30004.jpg) no-repeat center;
    background-size: cover;
}

.COH-dropdown-div{
    position: absolute;
    background-color: rgb(39, 38, 38);
    border-bottom-left-radius: 10px;
    top: 56px;
    right: 0px;
    width: 400px;
    height: 0px;
    overflow: auto;
    transition: 0.5s;
}