@font-face {
    font-family: Poppins-Regular;
    src: url('/fonts/poppins.regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('/fonts/poppins.medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/fonts/poppins.bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('/fonts/poppins.semibold.ttf');
}

.body {
    background-color: white;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-size: 14px;
    user-select: none;
}

.CC-main-window {
    height: 91.04%;
    width: 100%;
    overflow-y: scroll;
}

.CC-search-DIV {
    width: 100%;
    height: 20%;
    background-color: #222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.CC-search-input {
    height: 25%;
    width: 40%;
    background-color: #333;
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: white;
    font-size: 17px;
    font-family: Poppins-Regular;
}

.CC-search-input:focus {
    outline: none;
    border: 1px solid #4D90FE;
}

.CC-search-btn {
    width: 5%;
    height: 28%;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CC-search-icon {
    color: #888;
    text-align: center;
    font-size: 16px;
}

.CC-sortClients-div {
    width: 100%;
    height: 10%;
    background-color: #888;
}

.CC-clients-DIV {
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
}

.CC-footer {
    border-top: 1px rgba(85, 85, 85,0.8) solid;
    width: 100%;
    height: 13%;
    background-color: teal;
}

.CC-client-card{
    background-color: transparent;
    width: 50%;
    height: 50%;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    perspective: 1000px;
}

.CC-client-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.CC-client-card:hover .CC-client-card-inner {
    transform: rotateY(180deg);
}

.CC-client-card-front, .CC-client-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.CC-client-card-front {
    background-color: #bbb;
    color: black;
}

.CC-client-card-back {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.CC-client-card-back-info-text{
    color: white;
    font-size: 17px;
    font-family: Poppins-Regular;
}

.CC-client-card-photo{
    width:100%;
    height:100%;
    background-size: cover;
    object-fit: cover;
}

.CC-client-name-div {
    width: 100%;
    height: 25%;
    background-color: rgba(49, 49, 49, 0.7);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CC-client-name{
    color: white;
    font-size: 17px;
    font-family: Poppins-Regular;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}