@font-face {
    font-family: Poppins-Regular;
    src: url('/fonts/poppins.regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('/fonts/poppins.medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/fonts/poppins.bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('/fonts/poppins.semibold.ttf');
}

.CSU-body {
    background-color: white;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-size: 14px;
    user-select: none;
}

.CSU-main-window {
    height: 91.04%;
    width: 100%;
    overflow-y: scroll;
}

.CSU-inner-window {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CSU-schedule-outer-div {
    height: fit-content;
    width: 93%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(204, 201, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.CSU-client-name-div {
    height: 50px;
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CSU-client-name {
    font-family: Poppins-Medium;
    font-size: 30px;
    color: slateblue;
}

.CSU-schedule-client-profile {
    width: 99%;
    height: 350px;
    background-color: white;
    margin-top: 130px;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
}

.CSU-client-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.CSU-client-info-text-div {
    display: flex;
    width: 33.33333%;
    height: 100%;
    display: flex;
    align-items: center;
}

.CSU-client-info-text-title {
    color: firebrick;
    font-family: Poppins-Regular;
    font-size: 20px;
    margin-right: 10px;
}

.CSU-client-info-text {
    color: black;
    font-family: Poppins-Regular;
    font-size: 18px;
    margin-left: 10px;
}

.CSU-client-msg {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.CSU-client-msg-title {
    color: firebrick;
    font-family: Poppins-Regular;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 50px;
}

.CSU-client-msg-text {
    color: black;
    font-family: Poppins-Regular;
    font-size: 18px;
    margin-left: 10px;
}

.CSU-client-profile-picture {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30px;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
}

.CSU-schedule-div {
    height: 70.758%;
    width: 99%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 4px;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CSU-schedule-title {
    font-size: 30px;
    font-family: Poppins-Medium;
    margin-top: 20px;
}

.CSU-schedule {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 90%;
    height: 90%;
}

.CSU-day-outer-div {
    width: 100%;
    height: fit-content;
    border-left: #333 1px solid;
    border-right: #333 1px solid;
}

.CSU-day-bar-div {
    width: 100%;
    height: 50px;
    background-color: #999;
    border-bottom: #333 1px solid;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CSU-day-exercises {
    width: 100%;
    height: 0px;
    background-color: #333;
    transition: 0.5s;
    overflow: auto;
}

.CSU-day-exercises::-webkit-scrollbar {
    width: 12px;
    position: absolute;
}

.CSU-day-exercises::-webkit-scrollbar-track {
    background: #555;
    transition: 0.5s;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.CSU-day-exercises::-webkit-scrollbar-thumb {
    background-color: #BBB;
    height: 20%;
    border-radius: 20px;
}

.CSU-day-name {
    position: absolute;
    left: 20px;
    font-size: 20px;
    color: white;
    font-family: Poppins-Regular;
}

.CSU-day-dropdown-icon {
    position: absolute;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: flex;
    text-align: center;
}

.CSU-day-add-exercise-icon {
    display: none;
    position: absolute;
    right: 70px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.CSU-exercise {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    background-color: #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.CSU-exercise-img-div{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CSU-exercise-img{
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.CSU-exercise-img-icon{
    font-size: 30px;
    color: rgb(0, 185, 0);
}

.CSU-exercise-info{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.CSU-exercise-info-row-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    position: relative;
}

.CSU-exercise-info-piece-div{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}

.CSU-exercise-info-piece-title{
    color: #CFB997;
    font-family: Poppins-Regular;
    font-size: 20px;
    margin-right: 15px;
    line-height: 0.7;
}

.CSU-exercise-info-piece{
    color: white;
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.2;
}

.CSU-exercise-info-piece-text{
    color: white;
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.2;
    width: 70%;
}

.CSU-exercise-edit-btn{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CSU-exercise-edit-btn-icon{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.CSU-exercise-delete-btn{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CSU-exercise-delete-btn-icon{
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.CSU-add-exercise-popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(81, 81, 81, 0.7);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.CSU-add-exercise-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.CSU-add-exercise-popup-container {
    width: 70%;
    height: 80%;
    margin: 4em auto;
    background: #FFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.CSU-add-muscle-building-exercise-div{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.CSU-add-cardio-exercise-div{
    width: 100%;
    height: 70%;
    display: none;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.CSU-add-exercise-popup-buttons {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
}

.CSU-add-exercise-popup-confirm-button {
    width: 50%;
    height: 100%;
    background-color: teal;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    font-family: Poppins-Regular;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.CSU-add-exercise-popup-cancel-button {
    width: 50%;
    height: 100%;
    background-color: #515151;
    color: white;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    font-family: Poppins-Regular;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.is-visible .CSU-add-exercise-popup {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.CSU-add-exercise-type-buttons {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.CSU-add-exercise-buttons-border-slider{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #999;
}
.CSU-add-exercise-buttons-border{
    position: absolute;
    bottom: 0;
    width: 33.3333%;
    height: 3px;
    background-color: #333;
    transition: 0.4s;
    left: 0;
}

.CSU-add-exercise-type-button {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.CSU-add-exercise-type-button-text {
    font-family: Poppins-Regular;
    font-size: 15px;
}

.CSU-add-muscle-building-exercise-fields {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.CSU-add-cardio-exercise-fields {
    height: 90%;
    width: 50%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.CSU-add-other-exercise-fields {
    height: 90%;
    width: 50%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.CSU-flex-in-row-div{
    display: flex;
    flex-direction: row;
}

.CSU-add-exercise-field-item-in-row{
    width: 45%;
}

.CSU-add-exercise-field-item {
    width: 100%;
}

.CSU-add-exercise-InputLabeldiv {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.CSU-add-exercise-label-input100 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #515151;
    line-height: 1.5;
}

.CSU-add-exercise-input100 {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #515151;
    outline: none;
    width: 100%;
    height: 40px;
    background: transparent;
    border: transparent;
}

.CSU-add-exercise-numberinput100 {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #515151;
    outline: none;
    text-align: center;
    width: 100%;
    height: 40px;
    background: transparent;
    border: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.CSU-add-exercise-description-input100{
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #515151;
    outline: none;
    width: 100%;
    height: 155px;
    resize: none;
    background: transparent;
    border: transparent;
}

.CSU-add-other-exercise-description-input100{
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #515151;
    outline: none;
    width: 100%;
    height: 220px;
    resize: none;
    background: transparent;
    border: transparent;
}

.CSU-add-exercise-Inputdiv {
    width: 100%;
    display: flex;
    align-items: center;
}

.CSU-add-exercise-Inputandicondiv {
    display: flex;
    flex-direction: row;
    border: 1px #515151 solid;
}

.CSU-add-exercise-Icon {
    color: #515151;
    font-size: 18px;
}

.CSU-add-exercise-Icondiv {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #515151;
}

.CSU-add-exercise-Icondiv-in-row{
    width: 41%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #515151;
}

.CSU-Confirm-popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(81, 81, 81, 0.7);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.CSU-Confirm-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.CSU-popup-container {
    position: relative;
    width: 40%;
    height: 40%;
    margin: 4em auto;
    background: #FFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.CSU-Confirm-popup-text {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #515151;
    font-family: Poppins-Regular;
}

.CSU-Confirm-popup-buttons {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.CSU-Confirm-popup-confirm-button {
    width: 50%;
    height: 100%;
    background-color: darkred;
    border-bottom-left-radius: 16px;
    color: white;
    cursor: pointer;
    outline: none;
    font-family: Poppins-Regular;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.CSU-Confirm-popup-cancel-button {
    width: 50%;
    height: 100%;
    background-color: #515151;
    color: white;
    cursor: pointer;
    border-bottom-right-radius: 16px;
    outline: none;
    font-family: Poppins-Regular;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.is-visible .CSU-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}