@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins.regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins.medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins.bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins.semibold.ttf');
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: fixed;
  cursor: default;
  background: url(../images/main-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 1366px;
  min-height: 625px;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}

::-webkit-scrollbar-thumb {
  background: rgb(207, 185, 151);
  border-radius: 16px;
}

.Main{
  width: 100%;
  height: 100vh;
  display: fixed;
}

.Masking-DIV{
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient( rgb(0, 0, 0) 0%,rgba(81, 81, 81, 0) 50%, rgba(0, 0, 0) 100%);
}

.Masking-DIV-2{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.icon-div-logo {
  width: 30%;
  height: 100%;
  margin-left: 1.55%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-title {
  color: rgb(207, 185, 151);
  margin-left: 10px;
  font-size: 16px;
  font-family: Poppins-Bold;
}

.header-logo-icon-img {
  width: 10%;
  height: 43.71%;
}

header {
  width: 100%;
  height: 15%;
  background: transparent;
  display: flex;
  flex-direction: row;
  background: -webkit-linear-gradient( rgb(0, 0, 0) 0%, rgba(81, 81, 81, 0) 100%);
  
}

.links-DIV {
  height: 100%;
  width: 54.45%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.links {
  width: 10%;
  height: 100%;
  color: white;
  font-family: Poppins-Regular;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.links:hover { text-shadow: 0 0 10px white; }

.log-buttons-div {
  width: 14%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sign-log-btn-DIV {
  background: transparent;
  color: white;
  font-family: Poppins-Regular;
  width: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.sign-log-btn-DIV:hover { text-shadow: 0 0 10px white; }
.dividing-slash {
  display: flex;
  font-size: 30px;
  align-items: center;
  color: rgb(207, 185, 151);
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-family: Poppins-Regular;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

.dropbtn:hover { text-shadow: 0 0 10px white; }

.dropbtn2 {
  background-color: transparent;
  color: white;
  font-family: Poppins-Regular;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

.dropbtn2:hover { text-shadow: 0 0 10px white; }

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.dropdown2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #292929;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 70px;
}

.dropdown-content:after {
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  background: #fff;
  position: absolute;
  z-index: -1;
  top: -7px;
  left: calc(50% + 25px);
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #292929;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 70px;
}

.popups-button-barrier-border{
  height: 1px;
  width: 80%;
  border-top: 1px rgb(207, 185, 151) solid;
}

.dropdown-content2:after {
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  background: #fff;
  position: absolute;
  z-index: -1;
  top: -7px;
  left: calc(50% + 25px);
}

.dropdown-content a {
  color: white;
  font-family: Poppins-Regular;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a {
  color: white;
  font-family: Poppins-Regular;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.show2 {
  display: block;
}